<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>GIAJ The General Insurance Association of Japan</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="損害保険、防災、防犯、募集人試験、自然災害、地震、自賠責保険、防火、交通事故、損害保険代理店、損害保険登録鑑定人、損保">
<meta name="description" content="損害保険会社の事業者団体、一般社団法人 日本損害保険協会のサイト。損害保険業界のニュースをはじめ、損害保険の基礎的な知識や統計、防災・防犯・交通安全に関する情報が満載。">
<link rel="stylesheet" type="text/css" href="/en/css/import.css">
<link rel="stylesheet" type="text/css" href="/en/common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="/en/common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="/en/common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="/en/common/js/check.js"></script>
<script type="text/javascript" src="/en/common/js/fontsize.js"></script>

<script type="text/javascript" src="/en/common/js/share.js"></script>
<script type="text/javascript" src="/en/js/share.js"></script>
</head>
<body id="top">
<a name="pagetop"></a>
<div id="wrapper">
	<div id="inbox">
		<!-- ヘッダ -->
{include file="../../../../../html/common/ssi/smarty/head_en.html" menu_id="top"}

		<!-- リードエリア -->
		<div id="lead"><img src="img/visual.jpg" alt="" width="710" height="194" border="0"></div>
		<!-- //リードエリア -->

		<!-- メインエリア -->
		<div id="main">
			<!-- コンテンツエリア -->
			<div id="content-top">
				<div class="clearfix" id="infoarea">
					<!-- ニュース最新情報 -->
					<div id="headline">
						<div class="clearfix text2" id="box">
{$data}
							<div class="clearfix btnarea">
								<div class="rssbtn"><a href="/en/rss/"><img src="/en/img/b_rss.gif" width="45" height="20" alt="rss"></a></div>
								<div class="morebtn"><a href="/en/news/"><img src="/en/img/b_more.gif" width="50" height="20" alt="more"></a></div>
							</div>
						</div>
					</div>
					<!-- //ニュース最新情報 -->
				</div>

				<!-- The General Insurance Association of Japan -->
				<div class="subt1">
					<div class="frm">
						<p class="text2">The General Insurance Association of Japan</p>
					</div>
				</div>
				<div class="contentBlock1 text2">
					<p>The General Insurance Association of Japan is a trade association representing licensed general insurance companies in Japan and its activities are aimed at:</p>

					<br>
					<p>- The promotion of the sound development and maintenance of the reliability of the general insurance business in Japan.</p>
					<p>- The promotion of a better understanding of general insurance amongst the public.</p>
					<p>- The resolution of issues confronting the general insurance industry and to help it achieve its goals.</p>
					<p>- Contributing to social welfare.</p>
				</div>
				<!-- //The General Insurance Association of Japan -->

				<!-- colorCFライン-->
				<div class="lineCF"></div>
				<!-- //colorCFライン-->
				<!-- ページの先頭に戻る -->
				<div class="topLink">
					<p class="text1"><a href="#pagetop" class="totop">Page Top</a></p>
				</div>
				<!-- ページの先頭に戻る -->

			</div>
			<!-- //コンテンツエリア -->
		</div>
		<!-- //メインエリア -->
		<!-- フッタ -->
{include file="../../../../../html/common/ssi/smarty/foot_en.html"}

<!-- //フッタ -->
	</div>
</div>
</body>
</html>
