<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>日本損害保険協会 - SONPO | 統計･刊行物・報告書 − ビデオ − ビデオ貸し出し方法</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="損害保険、防災、防犯、募集人試験、自然災害、地震、自賠責保険、防火、交通事故、損害保険代理店、損害保険登録鑑定人、損保">
<meta name="description" content="損害保険会社の事業者団体、一般社団法人 日本損害保険協会のサイト。損害保険業界のニュースをはじめ、損害保険の基礎的な知識や統計、防災・防犯・交通安全に関する情報が満載。">
<link rel="stylesheet" type="text/css" href="/archive/css/import.css">
<link rel="stylesheet" type="text/css" href="/common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="/common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="/common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="/common/js/check.js"></script>
<script type="text/javascript" src="/common/js/fontsize.js"></script>

<script type="text/javascript" src="/common/js/share.js"></script>
<script type="text/javascript" src="/archive/video/kashidashi/js/check2.js"></script>
</head>

<body id="archive-form" onLoad="javascript: open_all();">
<!-- HEAD_PARTS_START -->
<div id="wrapper">
	<div id="inbox">
		<!-- ヘッダ -->
		<div id="head">
			<h1 id="title"><a href="http://www.sonpo.or.jp/"><img src="/common/ssi/img/logo.gif" width="288" height="34" border="0" alt="日本損害保険協会 SONPO"></a></h1>

		</div>

		<!-- //ヘッダ -->
		<!-- メインエリア -->
		<div id="main">
			<!-- コンテンツエリア -->
			<div id="content">
				<!-- content title -->
				<h2 class="lineCFhead"><span class="text2">ビデオ 貸し出しお申し込みのご案内</span></h2>

				<div class="lineCF"></div>

				<!-- //content title -->

{if $errors}
					<div class="contentBlock" style="border:#aaaaaa solid 1px;background:#ffcccc;">
						<div class="clearfix text2">
							<p><br>
<span style="color:red;font-weight:bold;">{foreach from=$errors item="datum"}　{$datum|escape}<br />{/foreach}</span></p>
						</div>
					</div>
<br clear="all">
{/if}

				<!-- contents-->
				<form method="post" action="form.php" name="videoform" onSubmit="return pre_check({$nvideo|escape})">
					<div class="contentBlock">
						<div class="clearfix text2">

<p>■申し込みについて</p>
<div style="margin-left:13px;">
<p>貸し出しをご希望の方は、次の要領でお申し込みください。</p>
<ul style="margin-left:40px;list-style-type:decimal;">
<li>ご希望のビデオを選択します。（貸し出し本数は1回につき4本までとなります。）</li>
<li>送付先など必要事項を入力します。</li>
<li>「申し込み確認」ボタンをクリックし、お申し込み内容をご確認ください。</li>
<li>入力された内容が正しければ、「送信」ボタンを押してください。</li>
<li>申し込み受付完了のメールが入力したメールアドレスに届きます。受付番号等が明記されていますので、ビデオ到着まで大切に保存願います。</li>
</ul>
</div>

<p><br>■発送について</p>
<div style="margin-left:13px;">
<p>申し込みから1週間以内に<span style="color:red;">送料着払い</span>にて発送いたします。1週間たっても到着しない場合は受付番号をご準備の上、次の連絡先までお問い合わせください。</p>
<p>
<br />
<div style="margin-left:5px;">
<table><tr><td class="text2" style="border:#dddddd solid 1px;padding:8px;"><p>【連絡先】
株式会社 マイナビサポート<br>
ＴＥＬ：048-485-2376（10:00〜18:00／土日・祝祭日休み）</p></td></tr></table>
</div>
</p>
</div>

<p><br>■返却について</p>
<div style="margin-left:13px;">
<p>ご返却の際は、同梱の封筒をご利用いただき、郵便または宅配便等確実な方法でご返送願います。（送料はご負担ください。）</p>
</div>

<p><br>■貸し出し期間について</p>
<div style="margin-left:13px;">
<p>貸し出し期間は1週間とさせていただきます。</p>
</div>

<p><br>■費用について</p>
<div style="margin-left:13px;">
<p>貸し出しの費用は無料です。<br>
ただし、発送および返送にかかる費用については実費をご負担いただきます。<p>
</div>

<p><br>■紛失および破損について</p>
<div style="margin-left:13px;">
<p>紛失または使用不能に至る破損の場合は、プリント代の実費を支弁願います。</p>
</div>

<p><br>■利用上のご注意</p>
<div style="margin-left:13px;">
<p>ビデオは多数の方にご利用いただくものです。ご使用の際は次の点にご注意ください。</p>
<ul class="dot0" style="margin-left:17px;">
<li>次に使用される方のために、ご使用後は巻き戻してご返却願います。</li>
<li>ダビングは著作権法等に抵触しますので、固く禁じます。</li>
</ul>
</div>

<p><br>■個人情報について</p>
<div style="margin-left:13px;">
<p>お申し込みいただいた名前、住所、電話番号等の個人情報は、ビデオの送付以外で利用することはありません。</p>
</div>

						</div>
					</div>

					<div class="subt1">
						<div class="frm">
							<p class="text2">貸し出し希望ビデオ</p>
						</div>
					</div>
					<div class="contentBlock1">
						<div class="clearfix text2">
							<p>※貸し出し希望のビデオタイトルにチェックを入れてください。</p>

						</div>
					</div>
<!--
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#1">損害保険全般</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#2">交通安全関係</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#3">自動車盗難</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#4">防犯</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#5">住宅防火</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#6">火災・防火</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#7">地震災害</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#8">風水害・自然災害</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#9">防災教育</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#10">アニメーション</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#11">災害史等</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#12">NPO</a></p>
						<p class="mleft10" align="left">&nbsp;&nbsp;&nbsp;&nbsp;・<a href="#13">その他</a></p>

-->
{foreach from=$jenre key="dkey" item="datum"}
					<div class="subt2">
						<div class="frm">
							<p class="text2">{$datum|escape}</p>
						</div>
					</div>
					<div class="contentBlock2">

						<table border="0" cellspacing="0" cellpadding="0" width="100%" class="archive_list text2">
							<tr>
								<td align="center" class="gray01" style="width:60px;"><strong>貸し出し<br>申し込み</strong></td>
								<td align="center" class="gray01"><strong>ビデオタイトル</strong></td>
							</tr>
{foreach from=$video_id[$dkey] item="vkey"}
							<tr>
								<td align="center"><input type="checkbox" name="videoNo[]" value="{$vkey|escape}" onChange="chk_amount({$nvideo|escape})"{if $data.video_checked[$vkey]} checked{/if}></td>

								<td align="left"><a href="{$vurl[$vkey]|escape}" target="_blank">{$vname[$vkey]|escape}</a></td>
							</tr>
{/foreach}
						</table>
					</div>
{/foreach}


					<div class="subt1">
						<div class="frm">

							<p class="text2">申し込み者</p>
						</div>
					</div>
					<div class="contentBlock1">
						<div class="clearfix text2">※<span class="colorE97">*</span>印は必須項目です。  半角カタカナは使用しないで下さい。</div>

					</div>
					<div class="contentBlock1">

						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td valign="top" class="gray02"><strong>借用期間</strong></td>
									<td><select name="syear" onChange="chgEndDay1();chgEndDay();">
{foreach from=$years item="datum"}<option value="{$datum|escape}"{if $data.syear}{if $datum==$data.syear} selected{/if}{else}{if $datum==$syear_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>年&nbsp;&nbsp;
										<select name="smonth" onChange="chgEndDay1();chgEndDay();">
{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $data.smonth}{if $datum==$data.smonth} selected{/if}{else}{if $datum==$smonth_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>月&nbsp;&nbsp;
										<select name="sday" onChange="chgEndDay();">
{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $data.sday}{if $datum==$data.sday} selected{/if}{else}{if $datum==$sday_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>日&nbsp;&nbsp;〜
										<select name="eyear" onChange="chgEndDay2();">
{foreach from=$years item="datum"}<option value="{$datum|escape}"{if $data.eyear}{if $datum==$data.eyear} selected{/if}{else}{if $datum==$eyear_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>年&nbsp;&nbsp;
										<select name="emonth" onChange="chgEndDay2();">
{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $data.emonth}{if $datum==$data.emonth} selected{/if}{else}{if $datum==$emonth_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>月&nbsp;&nbsp;
										<select name="eday">
{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $data.eday}{if $datum==$data.eday} selected{/if}{else}{if $datum==$eday_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>日

										<br> （貸し出し期間は、原則1週間です。） </td>
								<tr>
									<td valign="top" class="gray02"><strong>住所<font class="colorE97">*</font></strong></td>
									<td valign="top"><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" style="border:none; padding:2px;" class="text2">郵便番号<font class="colorE97">*</font></td>

												<td style="border:none; padding:2px;" class="text2"><input type="text" name="zipcode1" size="3" maxlength="3" value="{$data.zipcode1|escape}">
													−
													<input type="text" name="zipcode2" size="4" maxlength="4" value="{$data.zipcode2|escape}">
													&nbsp;&nbsp;<font class="colorE97">半角数字</font> <br>（例：101-8355） </td>
											</tr>
											<tr>
												<td style="border:none; padding:2px;" class="text2">都道府県<font class="colorE97">*</font></td>

												<td style="border:none; padding:2px;" class="text2"><select name="prefecture">
														<option value="">選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}												<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.prefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
													</select>
												</td>
											</tr>
											<tr>
												<td valign="top" style="border:none; padding:2px;" class="text2">市区町村以下<font class="colorE97">*</font></td>
												<td style="border:none; padding:2px;" class="text2"><input type="text" name="address" size="45" value="{$data.address|escape}">

													<br>（例：千代田区神田淡路町2-9）</td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>お名前<font class="colorE97">*</font></strong></td>
									<td><input type="text" name="name_dat" size="50" value="{$data.name_dat|escape}">

										<br>（例：一般社団法人日本損害保険協会） </td>
								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>フリガナ</strong></td>
									<td><input type="text" name="name_kana" size="50" value="{$data.name_kana|escape}">
										&nbsp;&nbsp;全角カナ<br> （例：ニホンソンガイホケンキョウカイ） </td>

								</tr>
								<tr>
									<td class="gray02"><strong>電話番号<font class="colorE97">*</font></strong></td>
									<td><input type="text" name="tel1" size="6" value="{$data.tel1|escape}">
										−
										<input type="text" name="tel2" size="6" value="{$data.tel2|escape}">
										−
										<input type="text" name="tel3" size="6" value="{$data.tel3|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角数字</font><br>（例：03 - 3255 - 1215） </td>

								</tr>
								<tr>
									<td class="gray02"><strong>FAX番号</strong></td>
									<td><input type="text" name="fax1" size="6" value="{$data.fax1|escape}">
										−
										<input type="text" name="fax2" size="6" value="{$data.fax2|escape}">

										−
										<input type="text" name="fax3" size="6" value="{$data.fax3|escape}">
										&nbsp;&nbsp;半角数字<br>（例：03 - 3255 - 1236） </td>

								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>メールアドレス<font class="colorE97">*</font></strong></td>
									<td valign="top"><input type="text" name="email" size="40" value="{$data.email|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角英数字</font><br> 確認のため、再度入力してください。<br>
										<input type="text" name="email2" size="40" value="{$data.email2|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角英数字</font> <br>（例：abc@sonpo.or.jp） </td>
								</tr>
								<tr>

									<td valign="top" class="gray02"><strong>送付先指定<font class="colorE97">*</font></strong></td>
									<td valign="top"><!-- <input type="radio" name="method" value="1"{if $data.method==1} checked{/if}>
										&nbsp;&nbsp;支部へ来訪<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来訪希望日時&nbsp;&nbsp;

										<select name="month_1" onChange="chgEndDay3();">
{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $data.month_1}{if $datum==$data.month_1} selected{/if}{else}{if $datum==$smonth_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select>
										月
										<select name="day_1">
{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $data.day_1}{if $datum==$data.day_1} selected{/if}{else}{if $datum==$sday_ini} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
										</select>
										日<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

										<input type="radio" name="visittime" value="1"{if $data.visittime==1} checked{/if}>
										AM（8〜12時）<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="visittime" value="2"{if $data.visittime==2} checked{/if}>
										PM（13〜17時）<br>
-->
										<input type="radio" name="method" value="2"{if $data.method==2} checked{/if}>
										&nbsp;&nbsp;上記へ送付（※下記送付先への記入は不要です。）<br>

										<input type="radio" name="method" value="3"{if $data.method==3} checked{/if}>
										&nbsp;&nbsp;上記以外へ送付 </td>

								</tr>
							</table>
						</div>

					</div>
					<div class="subt1">
						<div class="frm">
							<p class="text2">送付先（申し込み者の住所と異なる場合にご入力ください）</p>
						</div>

					</div>
					<div class="contentBlock1">
						<div class="clearfix text2">※<span class="colorE97">*</span>印は必須項目です。  半角カタカナは使用しないで下さい。</div>

					</div>
					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">

								<tr>
									<td valign="top" class="gray02"><strong>送付先住所<font class="colorE97">*</font></strong></td>
									<td valign="top"><table border="0" cellspacing="0" cellpadding="2">
											<tr>

												<td valign="top" style="border:none; padding:2px;" class="text2">郵便番号<font class="colorE97">*</font></td>
												<td style="border:none; padding:2px;" class="text2"><input type="text" name="szipcode1" size="3" maxlength="3" value="{$data.szipcode1|escape}">

													−
													<input type="text" name="szipcode2" size="4" maxlength="4" value="{$data.szipcode2|escape}">
													&nbsp;&nbsp;<font class="colorE97">半角数字</font> <br>（例：101-8355） </td>
											</tr>
											<tr>

												<td style="border:none; padding:2px;" class="text2">都道府県<font class="colorE97">*</font></td>

												<td style="border:none; padding:2px;" class="text2"><select name="sprefecture" >
														<option value="" selected>選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}												<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.sprefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
													</select>
												</td>
											</tr>
											<tr>
												<td nowrap valign="top" style="border:none; padding:2px;" class="text2">市区町村以下<font class="colorE97">*</font></td>

												<td style="border:none; padding:2px;" class="text2"><input type="text" name="saddress" size="45"  value="{$data.saddress|escape}">

													<br>（例：千代田区神田淡路町2-9）</td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>あて先<font class="colorE97">*</font></strong></td>

									<td><input type="text" name="sname_dat" size="50" value="{$data.sname_dat|escape}">

										<br>（例：一般社団法人日本損害保険協会） </td>
								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>フリガナ</strong></td>
									<td><input type="text" name="sname_kana" size="50" value="{$data.sname_kana|escape}">
										&nbsp;&nbsp;全角カナ<br> （例：ニホンソンガイホケンキョウカイ） </td>

								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>電話番号<font class="colorE97">*</font></strong></td>
									<td><input type="text" name="stel1" size="6" value="{$data.stel1|escape}">
										−
										<input type="text" name="stel2" size="6" value="{$data.stel2|escape}">
										−
										<input type="text" name="stel3" size="6" value="{$data.stel3|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角数字</font><br>（例：03 - 3255 - 1215） </td>

								</tr>
<!--
								<tr>
									<td valign="top" class="gray02"><strong>FAX番号</strong></td>
									<td><input type="text" name="sfax1" size="6" value="{$data.sfax1|escape}">
										−
										<input type="text" name="sfax2" size="6" value="{$data.sfax2|escape}">

										−
										<input type="text" name="sfax3" size="6" value="{$data.sfax3|escape}">
										&nbsp;&nbsp;半角数字<br>（例：03 - 3255 - 1236） </td>

								</tr>
								<tr>
									<td valign="top" class="gray02"><strong>メールアドレス<font class="colorE97">*</font></strong></td>
									<td valign="top"><input type="text" name="semail" size="40" value="{$data.semail|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角英数字</font><br> 確認のため、再度入力してください。<br>
										<input type="text" name="semail2" size="40" value="{$data.semail2|escape}">

										&nbsp;&nbsp;<font class="colorE97">半角英数字</font> <br>（例：webmaster@sonpo.or.jp） </td>
								</tr>
-->

							</table>

						</div>
					</div>
					<div class="contentBlock1">
						<div class="clearfix text2">

							<input name="submit" type="submit" value="&nbsp;&nbsp;申し込み確認&nbsp;&nbsp;"><input type="hidden" name="mode" value="preview"><input type="hidden" name="token" value="{$token|escape}">
							&nbsp;&nbsp;
							{if $operation=="initial"}<input name="reset" type="reset" value="&nbsp;&nbsp;リセット&nbsp;&nbsp;">{/if}
						</div>

					</div>
				</form>
				<!-- //contents-->
				<!-- colorCFライン-->
				<div class="lineCF"></div>

				<!-- //colorCFライン-->
				<!-- ページの先頭に戻る -->
				<div class="topLink"><p class="text2"><a href="#top" class="totop">ページの先頭に戻る</a></p></div>

				<!-- ページの先頭に戻る -->

			</div>
			<!-- //コンテンツエリア -->
		</div>
		<!-- //メインエリア -->

		<!-- フッタ -->
		<div id="foot">
			<div id="copy"><a href="/index.html"><img src="/common/ssi/img/copyright.gif" width="400" height="10" border="0" alt="Copyright (c)  The General Insurance Association of Japan. All rights reserved."></a></div>
		</div>
		<!-- //フッタ -->
	</div>
</div>
</body>
</html>


