<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>日本損害保険協会 - SONPO | お役立ち情報 − WEBからのご相談</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="損害保険、防災、防犯、募集人試験、自然災害、地震、自賠責保険、防火、交通事故、損害保険代理店、損害保険登録鑑定人、損保">
<meta name="description" content="損害保険会社の事業者団体、一般社団法人 日本損害保険協会のサイト。損害保険業界のニュースをはじめ、損害保険の基礎的な知識や統計、防災・防犯・交通安全に関する情報が満載。">

<link rel="stylesheet" type="text/css" href="/useful/css/import.css">
<link rel="stylesheet" type="text/css" href="/common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="/common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="/common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="/common/js/check.js"></script>
<script type="text/javascript" src="/common/js/fontsize.js"></script>
<script type="text/javascript" src="/common/js/share.js"></script>
</head>
<body id="useful-form">
<a name="top"></a>
<div id="wrapper">
	<div id="inbox">
		<!-- ヘッダ -->
		<div id="head">
			<h1 id="title"><a href="/"><img src="/common/ssi/img/logo.gif" width="288" height="34" border="0" alt="日本損害保険協会 SONPO"></a></h1>
		</div>
		<!-- //ヘッダ -->
		<!-- メインエリア -->
		<div id="main">
			<!-- コンテンツエリア -->
			<div id="content">
				<!-- content title -->
				<h2 class="lineCFhead"><span class="text2">ご入力内容確認</span></h2>
				<div class="lineCF"></div>
				<!-- //content title -->

				<div class="contentBlock1">
					<p class="text2">お申し込み内容に間違いがないかを確認してください。</p>
					<p class="text2">間違いがなければ「送信」ボタンをクリックしてください。</p>
				</div>

				<!-- 相談内容確認 -->
				<div class="contentBlock1">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="form_list text2">
						<tr>
							<td valign="top" class="gray02"><strong>お名前<span class="fc-red">*</span></strong></td>
							<td width="460">{$data.name1|escape}　{$data.name2|escape}</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>所在地<span class="fc-red">*</span></strong></td>
							<td valign="top" width="460">{$data.zip1|escape}-{$data.zip2|escape}<br>
{$prefs[$data.pref]|escape}<br>
{$data.address|escape}
							</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>電話番号<span class="fc-red">*</span></strong></td>
							<td width="460">{$data.tel1|escape} - {$data.tel2|escape} - {$data.tel3|escape}</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>メールアドレス<span class="fc-red">*</span></strong></td>
							<td valign="top" width="460">{$data.email|escape}</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>ご相談の保険種目<span class="fc-red">*</span></strong></td>
							<td valign="top" width="460">{$types[$data.type]|escape}{if $data.type_other}（{$data.type_other|escape}）{/if}</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>ご相談の内容<span class="fc-red">*</span></strong></td>
							<td valign="top" width="460">{$data.comment|escape|nl2br}</td>
						</tr>
						<tr>
							<td valign="top" class="gray02"><strong>当協会からの回答の要否</strong></td>
							<td valign="top" width="460">
{if $data.no_answer==1}不要{else}必要{/if}<br>{if $data.upassw}パスワード：{$data.upassw|escape}<br><span style="color:red;">※設定いただきましたパスワードについては<br>こちらから通知いたしませんので、メモをするなど記録いただきますようお願いいたします。</span>{/if}
							</td>
						</tr>
					</table>
				</div>
				<div class="contentBlock1">
					<div class="clearfix text2">
						<table cellpadding="0" cellspacing="0" border="0"><tr>
						<form action="form.php" method="POST">
						<td><input type="submit" value="&nbsp;&nbsp;送信&nbsp;&nbsp;"><input type="hidden" name="mode" value="submit"><input type="hidden" name="token" value="{$token}"></td></form>
						<form action="form.php" method="POST">
						<td><input type="submit" value="&nbsp;&nbsp;戻る&nbsp;&nbsp;"><input type="hidden" name="mode" value="rewrite"><input type="hidden" name="token" value="{$token}"></td></form>
						</tr></table>
					</div>
				</div>
				<!-- //相談内容確認 -->

				<div class="lineCF"></div>
				<!-- ページの先頭に戻る -->
				<div class="topLink"><p class="text2"><a href="#top" class="totop">ページの先頭に戻る</a></p></div>
				<!-- ページの先頭に戻る -->
			</div>
			<!-- //コンテンツエリア -->
		</div>
		<!-- //メインエリア -->
		<!-- フッタ -->
		<div id="foot">
			<div id="copy"><a href="/index.html"><img src="/common/ssi/img/copyright.gif" width="400" height="10" border="0" alt="Copyright (c)  The General Insurance Association of Japan. All rights reserved."></a></div>
		</div>
		<!-- //フッタ -->
	</div>
</div>
</body>
</html>
