{if $image_2_name}<table cellpadding="0" cellspacing="0" border="0" width="660" class="newsbox">
<tr>
<td align="center" class="box1">
<table cellpadding="0" cellspacing="0" border="0">
<tr valign="middle">
<td class="img-c">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url|escape}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
<td class="img-c img2pad">{if $data.url_2}<a href="{$data.url_2|escape}">{/if}<img src="{$image_url|escape}{$image_2_name|escape}" width="{$image_2_width|escape}" height="{$image_2_height|escape}" alt="{$data.caption_2|strip_tags}">{if $data.url_2}</a>{/if}</td>
</tr>
<tr valign="top">
<td align="center" class="cap-c">{$data.caption_1|escape}</td>
<td align="center" class="cap-c img2pad">{$data.caption_2|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{else}{if $data.position==1}{if $data.image_text}<table cellpadding="0" cellspacing="0" border="0" width="660" class="newsbox">
<tr>
<td class="box1">
<table cellpadding="0" cellspacing="0" border="0" width="660">
<tr valign="top">
<td rowspan="2" width="100%">{$data.image_text|escape}</td>
<td align="right" class="img-r">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
</tr>
<tr>
<td align="center" class="cap-r">{$data.caption_1|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{else}<table cellpadding="0" cellspacing="0" border="0" width="650" class="newsbox">
<tr>
<td align="right" class="box1">
<table cellpadding="0" cellspacing="0" border="0">
<tr valign="top">
<td align="right" class="img-r">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url|escape}{$iamge_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
</tr>
<tr>
<td align="center" class="cap-r">{$data.caption_1|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{/if}{else}{if $data.position==2}<table cellpadding="0" cellspacing="0" border="0" width="650" class="newsbox">
<tr>
<td align="center" class="box1">
<table cellpadding="0" cellspacing="0" border="0">
<tr valign="top">
<td class="img-c">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url|escape}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
</tr>
<tr>
<td align="center" class="cap-c">{$data.caption_1|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{else}{if $data.image_text}<table cellpadding="0" cellspacing="0" border="0" width="660" class="newsbox">
<tr>
<td class="box1">
<table cellpadding="0" cellspacing="0" border="0">
<tr valign="top">
<td align="left" class="img-l">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url|escape}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
<td rowspan="2" width="100%"><p>{$data.image_text|escape}</p></td>
</tr>
<tr>
<td align="center" class="cap-l">{$data.caption_1|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{else}<table cellpadding="0" cellspacing="0" border="0" width="640" class="newsbox">
<tr>
<td align="left" class="box1">
<table cellpadding="0" cellspacing="0" border="0">
<tr valign="top">
<td align="left" class="img-l">{if $data.url_1}<a href="{$data.url_1|escape}">{/if}<img src="{$image_url|escape}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt="{$data.caption_1|strip_tags}">{if $data.url_1}</a>{/if}</td>
</tr>
<tr>
<td align="center" class="cap-l">{$data.caption_1|escape}</td>
</tr>
</table>
</td>
</tr>
</table>{/if}{/if}{/if}{/if}