.text1{font-size:80%;line-height:125%;letter-spacing:1px;}
.text2{font-size:90%;line-height:125%;letter-spacing:1px;}
.text3{font-size:100%;line-height:130%;letter-spacing:1px;}
.text4{font-size:110%;line-height:130%;letter-spacing:1px;}
.text9{font-size:310.5%;line-height:100%;font-family:Verdana;}

.texts{font-size:88.9%;}
.textl{font-size:111%;}
