.text1{font-size:70%;line-height:130%;font-family:'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;}
.text2{font-size:80%;line-height:130%;letter-spacing:1px;font-family:'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;}
.text3{font-size:90%;line-height:130%;letter-spacing:1px;font-family:'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;}
.text4{font-size:110%;line-height:130%;letter-spacing:1px;font-family:'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;}
.text9{font-size:310.5%;line-height:100%;font-family:Verdana;}

.texts{font-size:87.5%;}
.textl{font-size:112.5%;}
