<html>
<head>
<title>日本損害保険協会・WEB相談 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
<script type="text/javascript" src="/manage/cm.js"></script>
</head>

<body bgcolor="#FFFFFF"{if $popmsg} onLoad="alert('{$popmsg|escape}')"{/if}>
<h2>アカウント 管理画面</h2>
<h3></h3>
<div class="maincontents">
<div align="center">
<br>
<br>
<table width="400" cellpadding="0" cellspacing="0" border="0">
<tr>
<td style="border:#dddddd solid 1px;" align="center">
<br>
アカウントとパスワードを登録しました。<br>
<br>
<a href="{$script_path|escape}/module/ContactManage/action/ListIDPW">戻る</a>
</td>
</tr>
</table>

</div>
</div>
</body>
</html>
