<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<!-- new -->
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta name="verify-v1" content="gfyyiVKhZWYybmy0egbN87OU+4KKr+cpcCOw7vBDWcM=" />
<title>日本損害保険協会 | SONPO</title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="損害保険、防災、防犯、募集人試験、自然災害、地震、自賠責保険、防火、交通事故、損害保険代理店、損害保険登録鑑定人、損保">
<meta name="description" content="損害保険会社の事業者団体、一般社団法人 日本損害保険協会のサイト。損害保険業界のニュースをはじめ、損害保険の基礎的な知識や統計、防災・防犯・交通安全に関する情報が満載。">
<meta name="google-site-verification" content="wYuMc9hR63RNXCMld2SzJ9RQc5oUss764_q5_r6O7e8" />
<link rel="stylesheet" type="text/css" href="css/import.css">
<link rel="stylesheet" type="text/css" href="common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="common/js/check.js"></script>
<script type="text/javascript" src="common/js/fontsize.js"></script>
<script type="text/javascript" src="/common/js/share.js"></script>
<script type="text/javascript" src="/js/share.js"></script>
</head>
<body id="top">
<div id="wrapper">
	<div id="inbox">
		<!-- ヘッダ -->
{include file="../../../../../html/common/ssi/smarty/head.html" menu_id="top"}
		<!-- //ヘッダ -->
		<!-- リードエリア -->
		<div id="lead"><img src="img/visual.jpg" alt="" width="690" height="186" border="0" usemap="#Map"><img src="img/p_freedial.jpg" alt="" width="260" height="186" border="0" usemap="#Map2">
		<map name="Map">
			<area shape="rect" coords="360,121,615,151" href="/useful/insurance/jishin/">
		  <area shape="rect" coords="95,121,350,151" href="/news/2011quake/">
		</map>
		<map name="Map2">
			<area shape="rect" coords="21,11,240,173" href="/useful/soudan/adr/">
		</map>
	 	</div>
		<!-- //リードエリア -->
		<!-- メインエリア -->
		<div id="main" class="clearfix">
			<!-- コンテンツエリア -->
			<div id="content-top">
				<div class="clearfix" id="infoarea">

					<!-- ニュース最新情報 -->
					<div id="headline">
{if $tab=="nr"}
						<div class="clearfix" id="tabarea">
							<div class="cate"><a href="index.php" onMouseOver="imgOn('tab_news_01');" onMouseOut="imgOff('tab_news_01');"><img src="/img/tab_news_01_1.gif" width="120" height="31" alt="最新情報" name="tab_news_01"></a></div>
							<div class="cate"><img src="/img/tab_news_02_3.gif" width="120" height="31" alt="ニュースリリース" name="tab_news_02"></div>
							<div class="cate"><a href="index.php?t=pz" onMouseOver="imgOn('tab_news_03');" onMouseOut="imgOff('tab_news_03');"><img src="/img/tab_news_03_1.gif" width="120" height="31" alt="懸賞・公募" name="tab_news_03"></a></div>
							<div class="cate-r"><a href="index.php?t=in" onMouseOver="imgOn('tab_news_04');" onMouseOut="imgOff('tab_news_04');"><img src="/img/tab_news_04_1.gif" width="120" height="31" alt="協会からのお知らせ" name="tab_news_04"></a></div>
						</div>
{else}
  {if $tab=="pz"}
						<div class="clearfix" id="tabarea">
							<div class="cate"><a href="index.php" onMouseOver="imgOn('tab_news_01');" onMouseOut="imgOff('tab_news_01');"><img src="/img/tab_news_01_1.gif" width="120" height="31" alt="最新情報" name="tab_news_01"></a></div>
							<div class="cate"><a href="index.php?t=nr" onMouseOver="imgOn('tab_news_02');" onMouseOut="imgOff('tab_news_02');"><img src="/img/tab_news_02_1.gif" width="120" height="31" alt="ニュースリリース" name="tab_news_02"></a></div>
							<div class="cate"><img src="/img/tab_news_03_3.gif" width="120" height="31" alt="懸賞・公募" name="tab_news_03"></div>
							<div class="cate-r"><a href="index.php?t=in" onMouseOver="imgOn('tab_news_04');" onMouseOut="imgOff('tab_news_04');"><img src="/img/tab_news_04_1.gif" width="120" height="31" alt="協会からのお知らせ" name="tab_news_04"></a></div>
						</div>
  {else}
    {if $tab=="in"}
						<div class="clearfix" id="tabarea">
							<div class="cate"><a href="index.php" onMouseOver="imgOn('tab_news_01');" onMouseOut="imgOff('tab_news_01');"><img src="/img/tab_news_01_1.gif" width="120" height="31" alt="最新情報" name="tab_news_01"></a></div>
							<div class="cate"><a href="index.php?t=nr" onMouseOver="imgOn('tab_news_02');" onMouseOut="imgOff('tab_news_02');"><img src="/img/tab_news_02_1.gif" width="120" height="31" alt="ニュースリリース" name="tab_news_02"></a></div>
							<div class="cate"><a href="index.php?t=pz" onMouseOver="imgOn('tab_news_03');" onMouseOut="imgOff('tab_news_03');"><img src="/img/tab_news_03_1.gif" width="120" height="31" alt="懸賞・公募" name="tab_news_03"></a></div>
							<div class="cate-r"><img src="/img/tab_news_04_3.gif" width="120" height="31" alt="協会からのお知らせ" name="tab_news_04"></div>
						</div>
    {else}
						<div class="clearfix" id="tabarea">
							<div class="cate"><img src="/img/tab_news_01_3.gif" width="120" height="31" alt="最新情報" name="tab_news_01"></div>
							<div class="cate"><a href="index.php?t=nr" onMouseOver="imgOn('tab_news_02');" onMouseOut="imgOff('tab_news_02');"><img src="/img/tab_news_02_1.gif" width="120" height="31" alt="ニュースリリース" name="tab_news_02"></a></div>
							<div class="cate"><a href="index.php?t=pz" onMouseOver="imgOn('tab_news_03');" onMouseOut="imgOff('tab_news_03');"><img src="/img/tab_news_03_1.gif" width="120" height="31" alt="懸賞・公募" name="tab_news_03"></a></div>
							<div class="cate-r"><a href="index.php?t=in" onMouseOver="imgOn('tab_news_04');" onMouseOut="imgOff('tab_news_04');"><img src="/img/tab_news_04_1.gif" width="120" height="31" alt="協会からのお知らせ" name="tab_news_04"></a></div>
						</div>
    {/if}
  {/if}
{/if}
						<div class="clearfix text2" id="box">
							<dl id="info">
{foreach from=$data item="datum"}{if $datum.is_time_over}
						<dt>{$datum.open_year2|string_format:"%02d"}.{$datum.open_month|string_format:"%02d"}.{$datum.open_day|string_format:"%02d"}</dt>
						<dd {if $datum.category==1}class="icn-rel"{/if}{if $datum.category==2}class="icn-pri"{/if}{if $datum.category==4}class="icn-inf"{/if}><a href="{if $datum.category==1}/news/release/{$datum.open_year|string_format:"%04d"}/{$datum.filename|escape}.html{/if}{if $datum.category==2}{$datum.link_url_1|escape}{/if}{if $datum.category==4}/news/information/{$datum.open_year|string_format:"%04d"}/{$datum.filename|escape}.html{/if}">{$datum.list_title|escape}</a></dd>
{/if}{/foreach}
							</dl>
							<div class="clearfix btnarea">
								<div class="listbtn">{if $tab=="nr"}<a href="/news/release/">{else}{if $tab=="pz"}<a href="/news/application/">{else}{if $tab=="in"}<a href="/news/information/">{else}<a href="/news/new_info/">{/if}{/if}{/if}<img src="/img/b_list.gif" width="50" height="20" alt="一覧"></a></div>
								<div class="rssbtn"><a href="/rss/"><img src="/img/b_rss.gif" width="45" height="20" alt="rss"></a></div>
								<div class="memberbtn"><a href="/news/member/index.html" class="arw2">各社ニュースリリース</a></div>
								<div class="actionbtn"><a href="/about/action/youbou/index.html" class="arw2">要望・提言活動</a></div>
							</div>
						</div>
					</div>
					<!-- //ニュース最新情報 -->

					<!-- バナーエリア -->
					<div id="bnrbox">
						{if $image_1_name}<div class="box1"><a href="{$topimage.url_1|escape}"><img src="{$image_url|escape}{$image_1_name|escape}" width="{$image_1_width|escape}" height="{$image_1_height|escape}" alt=""></a></div>
{/if}
						{if $image_2_name}<div class="box2"><a href="{$topimage.url_2|escape}"><img src="{$image_url|escape}{$image_2_name|escape}" width="{$image_2_width|escape}" height="{$image_2_height|escape}" alt=""></a></div>
{/if}
						{if $image_3_name}<div class="box3"><a href="{$topimage.url_3|escape}"><img src="{$image_url|escape}{$image_3_name|escape}" width="{$image_3_width|escape}" height="{$image_3_height|escape}" alt=""></a></div>
{/if}
					</div>
					<!-- //バナーエリア -->
				</div>
				<!-- 消費者ナビ-->
				<div class="subt1"><div class="frm"><p class="text2">消費者ナビ</p></div></div>
				<div class="contentBlock1">
					<p class="t0 text2"><strong>消費者向け冊子のご案内</strong></p>
					<p class="text2 fc-gry">損害保険の仕組みや損害保険の契約時の注意点などをわかりやすく解説しています。</p>
				</div>
					<ul id="contentFrmMain" class="clearfix">
						<!-- 一般消費者向け -->
						<li id="contentListMain1">
							<div class="contentTextBox text2">
								<p>一般消費者向け</p>
								<p class="fc-gry">損害保険の仕組みや損害保険の契約時の注意点などをわかりやすく解説しています。損害保険の契約をご検討の方はご覧ください。</p>
							</div>
							<p class="contentImg"><img src="/img/p_book_byers.jpg" width="110" height="151" alt=""></p>
							<div class="contentTextBox text2">
								<p class="arw2"><a href="/useful/buyers/index.html">バイヤーズガイド（損害保険の契約にあたっての手引き）</a></p>
							</div>
						</li>
						<li id="contentListMain2">
							<!-- 若年層向け -->
							<div class="contentListBox boxTop clearfix">
								<div class="contentTextBox text2">
									<p>若年層向け</p>
									<p class="arw2"><a href="/archive/publish/sonpo/0015.html">そんぽのホント（フレッシャーズガイド）</a></p>
								</div>
								<p class="contentImg"><img src="/img/p_book_honto.jpg" width="60" height="80" alt=""></p>
							</div>
							<!-- 高齢者向け -->
							<div class="contentListBox clearfix">
								<div class="contentTextBox text2">
									<p>高齢者向け</p>
									<p class="arw2"><a href="/archive/publish/sonpo/0014.html">知っ得！ガイド<br>わかりやすい損害保険の入りかた</a></p>
								</div>
								<p class="contentImg"><img src="/img/p_book_shittoku.jpg" width="60" height="80" alt=""></p>
							</div>
							<!-- 保険金の請求にあたって -->
							<div class="contentListBox clearfix">
								<div class="contentTextBox text2">
									<p>保険金の請求にあたって</p>
									<p class="arw2"><a href="/useful/flow/index.html">保険金の請求から受け取りまでの手引き</a></p>
								</div>
								<p class="contentImg"><img src="/img/p_book_hokenkin.jpg" width="60" height="80" alt=""></p>
							</div>
						</li>
					</ul>

					<ul id="contentFrm" class="clearfix">
						<!-- 消費者向け専用サイト　「そんぽのホント」 -->
						<li id="contentList1" class="clearfix">
							<div class="contentTextBox text2">
								<p><strong>消費者向け専用サイト<br>「そんぽのホント」</strong></p>
								<p class="fc-gry">損害保険について楽しく学べる消費者の方を対象とした専用サイトです。<br>第7回消費者教育教材資料表彰で、「優秀賞」を受賞しました！</p>
								<p class="arw2"><a href="/wakaru/index.html" target="_blank">詳しくはこちら</a></p>
							</div>
							<p class="contentImg"><img src="/img/img_honto.gif" width="80" height="71" alt=""></p>
						</li>
						<!-- 損害保険代理店について -->
						<li id="contentList2" class="clearfix">
							<div class="contentTextBox text2">
								<p><strong>損害保険代理店について</strong></p>
								<p class="fc-gry">「損害保険代理店」の役割等について説明しています。</p>
								<p class="arw2"><a href="/useful/insurance/dairiten/index.html">詳しくはこちら</a></p>
							</div>
							<p class="contentImg"><img src="/img/img_dairiten.gif" width="80" height="71" alt=""></p>
						</li>
						<!-- そんぽ相談ガイド 2010/11/18 削除 -->
						<!--// そんぽ相談ガイド 2010/11/18 削除-->
						<!-- 講演会への講師派遣のご案内 -->
						<li id="contentList4" class="nophoto">
							<div class="contentTextBox text2">
								<p><strong>講演会への講師派遣のご案内</strong></p>
								<p class="fc-gry">損害保険をテーマにした各種勉強会・講演会に無料で講師を派遣しています。</p>
								<p class="arw2"><a href="/useful/koushi/index.html">詳しくはこちら</a></p>
							</div>
						</li>
						<!-- 損害保険を基礎から知りたい  -->
						<li id="contentList5" class="nophoto">
							<div class="contentTextBox text2">
								<p><strong>損害保険を基礎から知りたい</strong></p>
								<p class="fc-gry">「損害保険ってどんな保険？」、「どんな種類があるの？」、など損害保険を基礎から知りたい初心者向けのコンテンツです。 </p>
								<p class="arw2"><a href="/navi/index.html#index_01">詳しくはこちら</a></p>
							</div>
						</li>
						<!-- 損害保険を詳しく知りたい -->
						<li id="contentList6" class="nophoto">
							<div class="contentTextBox text2">
								<p><strong>損害保険を詳しく知りたい</strong></p>
								<p class="fc-gry">「基礎はわかっているので、具体的な事例などをしりたい」、「損害保険をもっと詳しく知りたい」など中級者・上級者向けのコンテンツです。</p>
								<p class="arw2"><a href="/navi/index.html#index_02">詳しくはこちら</a></p>
							</div>
						</li>
						<!-- 交通事故に遭われた方へ  -->
						<li id="contentList7" class="nophoto">
							<div class="contentTextBox text2">
								<p><strong>交通事故に遭われた方へ</strong></p>
								<p class="fc-gry">「交通事故に遭ってしまったが、不安だ」、「交通事故の時は、どんな保険が使えるのか知りたい」など交通事故に関するコンテンツです。</p>
								<p class="arw2"><a href="/navi/index.html#index_04">詳しくはこちら</a></p>
							</div>
						</li>
						<!-- 自然災害に遭われた方へ -->
						<li id="contentList8" class="nophoto">
							<div class="contentTextBox text2">
								<p><strong>自然災害に遭われた方へ</strong></p>
								<p class="fc-gry">「台風で被害にあったのだけど、どういう保険が使えるのかわからない」など自然災害に備える保険についてのコンテンツです。</p>
								<p class="arw2"><a href="/navi/index.html#index_03">詳しくはこちら</a></p>
							</div>
						</li>
					</ul>
				<!-- //消費者ナビ-->

			</div>
			<!-- //コンテンツエリア -->
			<!-- ローカルナビエリア -->
			<div id="rightside">
				<!-- 会員会社各社の商品について -->
				<div class="navibox">
					<div class="top"><img src="/img/box_member_top.gif" width="220" height="29" border="0" alt="消費者ナビ"></div>
					<div class="frm">
						<p class="text2"><a href="/useful/kakusyasyouhin/car.html" class="arw2">くるまの保険</a></p>
						<p class="text2"><a href="/useful/kakusyasyouhin/house.html" class="arw2">すまいの保険</a></p>
						<p class="text2"><a href="/useful/kakusyasyouhin/body.html" class="arw2">からだの保険</a></p>
						<p class="naviboxbtn"><a href="http://hikaku.sonpo.or.jp/" target="_blank"><img src="/img/b_hikaku_car.gif" width="200" height="48" border="0" alt="自動車保険商品の比較サイト"></a></p>

					</div>
				</div>
				<!-- //会員会社各社の商品について -->
				<!-- スクールナビ(教育情報) -->
				<div class="navibox">
					<div class="top"><img src="/img/box_school_top.gif" width="220" height="29" border="0" alt="スクールナビ(教育情報)"></div>
					<div class="frm">
						<p class="text2"><a href="/navi/school.html#school_01" class="arw2">幼児/小学生向け</a></p>
						<p class="text2"><a href="/navi/school.html#school_02" class="arw2">中学/高校生向け</a></p>
						<p class="text2"><a href="/navi/school.html#school_03" class="arw2">大学/社会人向け</a></p>
					</div>
				</div>
				<!-- //スクールナビ(教育情報) -->
				<!-- 協会のご案内 -->
				<div class="navibox2">
					<div class="top"><img src="/img/box_society_top.gif" width="220" height="29" border="0" alt="協会のご案内"></div>
					<div class="frm">
						<p class="text2"><a href="/about/gaiyo/index.html" class="arw2">概要</a></p>
						<p class="text2"><a href="/about/address/index.html" class="arw2">所在地</a></p>
						<p class="text2"><a href="/about/recruit/new_graduate/index.html" target="_blank" class="arw2">採用情報</a></p>
					</div>
				</div>
				<!-- //協会のご案内 -->
				<div class="refarea">
					<table cellpadding="0" cellspacing="0" border="0" class="refbox">
					<!-- テキスト＆バナータイプ -->
					<tr>
					<td class="txt0"><p class="arw2 text2"><a href="/useful/voice/index.html" target="_blank">会員会社に関する情報</a></p></td>
					<td class="img0"><a href="/useful/voice/index.html"><img src="/img/p_pickup_kaiinjyoho.jpg" width="50" height="50" border="0" alt="会員会社に関する情報"></a></td>
					</tr>
					<!-- //テキスト＆バナータイプ -->
					<!-- テキスト＆バナータイプ -->
					<tr>
					<td class="txt0"><p class="arw2 text2"><a href="/about/action/shinrai/0004.html">「消費者の声」諮問会議</a></p></td>
					<td class="img0"><a href="/about/action/shinrai/0004.html"><img src="/img/p_pickup_shimon.jpg" width="50" height="50" border="0" alt="「消費者の声」諮問会議"></a></td>
					</tr>
					<!-- //テキスト＆バナータイプ -->
					<!-- テキスト＆バナータイプ -->
					<!-- //テキスト＆バナータイプ -->


					<!-- フル画像バナータイプ【2011年度自賠責保険広報キャンペーン】 -->
					<tr>
					<td colspan="2" class="img2"><a href="/news/release/2012/1202_04.html"><img src="/img/bnr_jibaiseki.jpg" width="220" height="60" border="0" alt="2011年度自賠責保険広報キャンペーン"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【2011年度自賠責保険広報キャンペーン】 -->

					<!-- フル画像バナータイプ【募研バナー】 -->
					<tr>
					<td colspan="2" class="img2"><a href="/exam/dairiten/index.html"><img src="/img/bnr_boken.jpg" width="220" height="60" border="0" alt="募集人・資格情報システムについて"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【募研バナー】 -->

					<!-- フル画像バナータイプ【Web版そんぽ相談ガイド】 -->
					<tr>
					<td colspan="2" class="img2"><a href="http://soudanguide.sonpo.or.jp/" target="_blank"><img src="/img/bnr_guide.jpg" width="220" height="60" border="0" alt="Web版そんぽ相談ガイド"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【Web版そんぽ相談ガイド】 -->

					<!-- フル画像バナータイプ【自動車盗難】 -->
					<tr>
					<!--<td colspan="2" class="img2"><a href="/protection/jidoshatounan/"><img src="/img/bnr_tonan.gif" width="220" height="60" border="0" alt="10月7日は盗難防止の日"></a></td> -->
					<td colspan="2" class="img2"><a href="/protection/jidoshatounan/"><img src="/img/tonan_02.gif" width="220" height="60" border="0" alt="自動車盗難にご注意！"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【自動車盗難】 -->

					<!-- フル画像バナータイプ【IAIS保険基本原則の日本語版】 -->
					<tr>
					<td colspan="2" class="img2"><a href="/icp.html"><img src="/img/bnr_iais.gif" width="220" height="60" border="0" alt="IAIS保険基本原則の日本語版"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【IAIS保険基本原則の日本語版】 -->

					<!-- フル画像バナータイプ【医研バナー】 -->
					<!-- <tr>
					<td colspan="2" class="img2"><a href="/exam/kenkyujyosei/index.html"><img src="/img/bnr_jyosei.gif" width="220" height="60" border="0" alt="交通事故医療研究助成募集中（5/1〜6/15）"></a></td>
					</tr>
					<!-- //フル画像バナータイプ【医研バナー】 -->

					<!-- フル画像バナータイプ -->
					<tr>
					<td colspan="2" class="img2"><a href="/news/information/2009/0908_05.html"><img src="/img/bnr_newlaw.gif" width="220" height="60" border="0" alt="2010年4月から新しい保険法がスタートしました"></a></td>
					</tr>
					<!-- //フル画像バナータイプ -->

					<!-- フル画像バナータイプ -->
					<tr>
					<td colspan="2" class="img2"><a href="/radio/" target="_blank"><img src="/img/bnr_radio.gif" width="220" height="60" border="0" alt="損害保険情報提供番組（文化放送・ラジオ大阪）バンブー・涙子のそんぽのホント"></a></td>
					</tr>
					<!-- //フル画像バナータイプ -->

					<!-- フル画像バナータイプ -->
					<tr>
					<td colspan="2" class="img2"><a href="/news/jiyutoron/"><img src="/img/bnr_jt.gif" width="220" height="60" border="0" alt="保険商品の比較に関する自由討論会"></a></td>
					</tr>
					<!-- //フル画像バナータイプ -->

					<!-- フル画像バナータイプ -->
					<tr>
					<td colspan="2" class="img2"><a href="/eco/"><img src="/img/bnr_mado.gif" width="220" height="60" border="0" alt="環境の窓"></a></td>
					</tr>
					<!-- //フル画像バナータイプ -->

					<!-- フル画像バナータイプ -->
					<tr>
					<td colspan="2" class="img2"><a href="/useful/insurance/medical/"><img src="/img/bnr_koujokaiso.gif" width="220" height="60" border="0" alt="生命保険料控除の改組について"></a></td>
					</tr>
					<!-- //フル画像バナータイプ -->

					</table>
				</div>
			</div>
			<!-- //ローカルナビエリア -->
		</div>
		<!-- //メインエリア -->
		<!-- フッタ -->
{include file="../../../../../html/common/ssi/smarty/foot.html"}
		<!-- //フッタ -->
	</div>
</div>
</body>
</html>
