<html>
<head>
<title>日本損害保険協会・刊行物・講師派遣関連 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
</head>

<body bgcolor="#FFFFFF">
<h2>日本損害保険協会・講師派遣 管理画面</h2>
<h3>講師派遣</h3>
<div class="maincontents">

<hr>
<div align="right">
［<a href="{$script_path|escape}/module/FormManage/action/Logout">ログアウト</a>］
</div>
{if !$is_shipping}{if $data}
<hr>
<a href="/manage/forms/index.php/module/FormManage/action/InstList">講師派遣一覧</a>
<!--<ul>
{foreach from=$data key="dkey" item="datum"}

<li><a href="/manage/forms/index.php/module/FormManage/action/InstList?y={$dkey|escape}">{$dkey|escape}年度</a>

{/foreach}
</ul>-->
<br>
{/if}{/if}
{if $is_master || $is_master2 || $is_shipping}{if $data2}

<!--<hr>--><br>

<a href="/manage/forms/index.php/module/FormManage/action/TransList">資料発送</a>（2010/10/04以前に受付処理をおこなったもの）

<!--<ul>
{foreach from=$data2 key="dkey" item="datum"}

<li><a href="/manage/forms/index.php/module/FormManage/action/TransList?y={$dkey|escape}">{$dkey|escape}年度</a>

{/foreach}
</ul>-->
{/if}{/if}
<!--{if $is_master}
<hr>
<b>資料</b>
<ul>
<li><a href="/manage/forms/index.php/module/FormManage/action/DocList">資料一覧</a>{/if}-->
</ul>
<hr>
<a href="/manage/forms/index.php/module/FormManage">戻る</a>
<form action="index.php/module/FormManage/action/InstCsv" method="POST" name="frm2">
<input type="hidden" name="is_all" value="1">
</form>
</div>
</body>
</html>
