<html>
<head>
<title>日本損害保険協会・刊行物・講師派遣関連 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
<script language="javascript">
<!--
{literal}
var allSel=false;
function fnc_all_click(objAll){
	if(allSel){
	  allSel=false;
	  document.getElementById("btnSelChk").value="全選択";
	}else{
	  allSel=true;
	  document.getElementById("btnSelChk").value="全解除";
	}

	for(var i=0;i<document.frm1.length;i++){
		//チェックボックスであれば
		if(document.frm1[i].type=="checkbox"){
			document.frm1[i].checked = allSel;
		}
	}
}

function checkchecked(){
  var is_check=0;
  var ids='';
  for(index = 0; index < document.frm1.elements["dl[]"].length; index++){
    if(document.frm1.elements["dl[]"][index].checked){
      is_check=is_check+1;
      ids=ids + document.frm1.elements["inst_id[]"][index].value + "\n";
    }
  }
  
  if(!is_check){
    alert('データが選択されていません。');
    return false;
  }else{
    return confirm('選択したデータを元に戻してよろしいですか？'+ "\n" + ids);
  }

}

function checkchecked2(){
  var is_check=0;
  var ids='';
  for(index = 0; index < document.frm1.elements["dl[]"].length; index++){
    if(document.frm1.elements["dl[]"][index].checked){
      is_check=is_check+1;
      ids=ids + document.frm1.elements["inst_id[]"][index].value + "\n";
    }
  }
  
  if(!is_check){
    alert('データが選択されていません。');
    return false;
  }else{
    conf=confirm('選択したデータを完全に削除してよろしいですか？'+ "\n" + ids);
    if(conf){
      document.frm1.do_mode.value="delete";
      return true;
    }else{
      return false;
    }
  }

}

//-->
{/literal}
</script>
</head>

<body bgcolor="#FFFFFF">
<h2>日本損害保険協会・講師派遣 管理画面</h2>
<h3>講師派遣削除データ（一覧）</h3>
<!--{if @$action_memory_usage}{$action_memory_usage}{/if}-->
<!--{if @$action_memory_usage2}{$action_memory_usage2}{/if}-->
<!--{if @$memory_usage}{$memory_usage}{/if}-->
<div class="maincontents">

<a href="{$script_path|escape}/module/FormManage/action/InstList?y={$year|escape:"url"}&br={$nbranch|escape:"url"}&st={$status|escape:"url"}&ts={$ntaisyou|escape:"url"}">講師派遣一覧に戻る</a>
<hr>
<div align="right">
［<a href="{$script_path|escape}/module/FormManage/action/Logout">ログアウト</a>］
</div>

{if $data}
<form action="{$script_path|escape}/module/FormManage/action/InstActivate" method="POST" name="frm1">
<table cellspacing="1" class="azlist">
<tr>
<th>受付番号</th>
<th>講演日</th>
<th>担当部署</th>
<th>対象</th>
<th>主催者</th>
<th>講演テーマ</th>
<th>ステータス</th>
<th>発送状況（旧）</th>
<th>発送状況</th>
<th>チェック</th>
</tr>

{foreach from=$data item="datum"}
<tr>
<td>{$datum.inst_id|escape}</td>
<td>{if @$datum.year_3}{$datum.year_3|escape}/{$datum.month_3|escape}/{$datum.day_3|escape}{else}{$datum.year_1|escape}/{$datum.month_1|escape}/{$datum.day_1|escape}{if @$datum.year_2}({$datum.year_2|escape}/{$datum.month_2|escape}/{$datum.day_2|escape}){/if}{/if}</td>
<td>{if @$branch[$datum.branch]}{$branch[$datum.branch]|escape}{else}{if @$branch_no2[$datum.lecture_prefecture]}{$branch_no2[$datum.lecture_prefecture]|escape}{/if}{/if}</td>
<td>{if @$taisyou[$datum.taisyou]}{$taisyou[$datum.taisyou]|escape}{else}&nbsp;{/if}</td>
<td>{if @$datum.host2}{$datum.host2|escape}{else}{$datum.host}{/if}&nbsp;</td>
<td>{if @$datum.theme2}{$datum.theme2|escape}{else}{$theme[$datum.themes]}{/if}&nbsp;</td>
<td>{if @$inst_status[$datum.status]}{$inst_status[$datum.status]|escape}{/if}</td>
<!-- old --><td>
{if @$datum.is_new==0}
{if @$datum.sdocs}
  {if @$datum.sregist==1}
    {if @$datum.t_status==1}
      {if @$datum.t_status2==1}発送済み
      {else}発送承認済み
      {/if}
    {else}
      {if @$datum.t_status==0}発送承認待ち
      {/if}
    {/if}
  {/if}
{/if}
{/if}&nbsp;
</td>
<td>
{if @$datum.sregist==1}{if @$datum.approve==1}{if @$datum.trans_status==1}対応中{elseif @$datum.trans_status==2}発送済み{else}承認済み{/if}
{else}
{if @$datum.approve<>99}承認待ち{/if}
{/if}
{/if}
&nbsp;</td>
<td align="center"><input type="checkbox" name="dl[]" value="{$datum.id|escape}"><input type="hidden" name="inst_id[]" value="{$datum.inst_id|escape}"></td>
</tr>
{/foreach}
<input type="hidden" name="dl[]" value="">
<input type="hidden" name="inst_id[]" value="">
<tr><td colspan="9">&nbsp;</td><td><input type="button" value="全選択" id="btnSelChk" onClick="fnc_all_click(this);"></td></tr>
</table>
<div>
<input type="hidden" name="y" value="{if @$year}{$year|escape}{/if}">
<input type="hidden" name="br" value="{if @$nbranch}{$nbranch|escape}{/if}">
<input type="hidden" name="st" value="{if @$status}{$status|escape}{/if}">
<input type="hidden" name="ts" value="{if @$ntaisyou}{$ntaisyou|escape}{/if}">

<input type="hidden" name="do_mode" value="activate">
{if $is_master || $is_master2}<input type="submit" value="チェックしたデータを元に戻す" onClick="return checkchecked();">{/if}
{if $is_master || $is_master2}<input type="submit" value="チェックしたデータを完全に削除する" onClick="return checkchecked2();">{/if}
</form>
{/if}
<br><hr>
<a href="{$script_path|escape}/module/FormManage/action/InstList?y={if @$year}{$year|escape:"url"}{/if}&br={if @$nbranch}{$nbranch|escape:"url"}{/if}&st={if @$status}{$status|escape:"url"}{/if}&ts={if @$ntaisyou}{$ntaisyou|escape:"url"}{/if}">講師派遣一覧に戻る</a>

</div>
</body>
</html>
