.text1{font-size:65%;line-height:130%;}
.text2{font-size:75%;line-height:130%;}
.text3{font-size:90%;line-height:130%;}
.text4{font-size:110%;line-height:130%;}
.text9{font-size:310.5%;font-family:Verdana;}

.texts{font-size:86.7%;}
.textl{font-size:120%;}
