{literal}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>日本損害保険協会 - SONPO | </title>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="損害保険、防災、防犯、募集人試験、自然災害、地震、自賠責保険、防火、交通事故、損害保険代理店、損害保険登録鑑定人、損保">
<meta name="description" content="損害保険会社の事業者団体、一般社団法人 日本損害保険協会のサイト。損害保険業界のニュースをはじめ、損害保険の基礎的な知識や統計、防災・防犯・交通安全に関する情報が満載。">

<link rel="stylesheet" type="text/css" href="/news/css/import.css">
<link rel="stylesheet" type="text/css" href="/common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="/common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="/common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="/common/js/check.js"></script>
<script type="text/javascript" src="/common/js/fontsize.js"></script>
<script type="text/javascript" src="/common/js/share.js"></script>
</head>
<body id="news">
<a name="top"></a>
<div id="wrapper">
	<div id="inbox">
		<!-- ヘッダ -->
		<!--#set var="menu_id" value="news" -->
		<!--#include virtual="/common/ssi/head.html" -->
		<!-- //ヘッダ -->
		<!-- パンくず -->
		<div id="breadcrumbs" class="text1"><a href="/">トップ</a><a href="/news/">お知らせ</a><strong>ニュースリリース</strong></div>
		<!-- //パンくず -->

		<!-- メインエリア -->
		<div id="main" class="clearfix">
{/literal}
{include file="news_main.html" data=$data}
{literal}
			<!-- ローカルナビエリア -->
			<!--#set var="menu1" value="release" -->
			<!--#set var="menu2" value="index" -->
			<!--#include virtual="/common/ssi/localnav_news.html" -->
			<!-- //ローカルナビエリア -->
		</div>
		<!-- //メインエリア -->
		<!-- フッタ -->
		<!--#include virtual="/common/ssi/foot.html" -->
		<!-- //フッタ -->
	</div>
</div>
</body>
</html>{/literal}
