/* ----------------------------------------------- 
		‹¤’Ê’è‹`
   ----------------------------------------------- */
body {
	font-size:120%;
}

#mid #zoom ul li.b-m a {
	background: url("/common/ssi/img/b_font_m_1.gif") no-repeat 0 0;
}

#mid #zoom ul li.b-l a {
	background: url("/common/ssi/img/b_font_l_2.gif") no-repeat 0 0;
}

#mid #zoom ul li.b-xl a {
	background: url("/common/ssi/img/b_font_xl_1.gif") no-repeat 0 0;
}


