.text1{font-size:75%;line-height:130%;font-family:Hiragino Kaku Gothic Pro W3;}
.text2{font-size:80%;line-height:130%;font-family:Hiragino Kaku Gothic Pro W3;}
.text3{font-size:90%;line-height:130%;font-family:Hiragino Kaku Gothic Pro W3;}
.text4{font-size:110%;line-height:130%;font-family:Hiragino Kaku Gothic Pro W3;}

.texts{font-size:93.8%;}
.textl{font-size:112.5%;}
