.text1{font-size:70%;line-height:130%;}
.text2{font-size:90%;line-height:130%;}
.text3{font-size:100%;line-height:130%;}
.text4{font-size:110%;line-height:130%;}

.texts{font-size:77.8%;}
.textl{font-size:111%;}
