<html>
<head>
<title>日本損害保険協会・講師派遣 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
<script type="text/javascript" src="/manage/cm.js"></script>
</head>

<body bgcolor="#FFFFFF"{if @$popmsg} onLoad="alert('{$popmsg|escape}')"{/if}>
<h2>日本損害保険協会・講師派遣 管理画面</h2>
<h3>資料（登録・変更）</h3>
<div class="maincontents">
{if $errors}{foreach from=$errors item="datum"}<span style="color:red;">{$datum|escape}</span><br>{/foreach}{/if}
<form action="{$script_path|escape}/module/FormManage/action/DocRegist" method="POST" name="frm1">

<table cellspacing="1" class="azlist">
<tr>
<th>資料名</th>
<td width="75%">{$data.account|escape}<input type="text" name="name" value="{$data.name|escape}" size="60"></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="保存"></td>
</tr>

</table>
</form>

<a href="{$script_path|escape}/module/FormManage/action/DocList">戻る</a>
</div>
</body>
</html>
