<html>
<head>
<title>日本損害保険協会・刊行物・講師派遣関連 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
<!--<script type="text/javascript" src="/manage/cm.js"></script>-->
<script languege="javascript">
<!--
  var szip1=new Array();
  var szip2=new Array();
  var spref=new Array();
  var sadd =new Array();
  var sname=new Array();
  var stel1=new Array();
  var stel2=new Array();
  var stel3=new Array();
  {foreach from=$branch_name key="dkey" item="datum"}
  szip1[{$dkey}]='{$branch_zip12[$dkey][0]}';szip2[{$dkey}]='{$branch_zip12[$dkey][1]}';
  spref[{$dkey}]='{$branch_pref[$dkey]}';
  sadd[{$dkey}]='{$branch_address[$dkey]}';
  sname[{$dkey}]='{$branch_name[$dkey]}';
  stel1[{$dkey}]='{$branch_tel123[$dkey][0]}';stel2[{$dkey}]='{$branch_tel123[$dkey][1]}';stel3[{$dkey}]='{$branch_tel123[$dkey][2]}';
  {/foreach}
{literal}
  function setBranchAddress(){
    f=document.frm1;
    n=f.addresslist[f.addresslist.selectedIndex].value;

    if(n){
      f.szip1.value=szip1[n];
      f.szip2.value=szip2[n];
      f.saddress.value=sadd[n];
      f.sname.value='一般社団法人 日本損害保険協会 '+sname[n]+'支部';
      f.stel1.value=stel1[n];
      f.stel2.value=stel2[n];
      f.stel3.value=stel3[n];
      f.spref.selectedIndex=spref[n];
    }else{
      f.szip1.value='';
      f.szip2.value='';
      f.saddress.value='';
      f.sname.value='';
      f.stel1.value='';
      f.stel2.value='';
      f.stel3.value='';
      f.spref.selectedIndex=0;
    }
  }

  function checkStatus(){
    f=document.frm1;
    sv=f.status[f.status.selectedIndex].value;
    send=f.sregist[0].checked;
    if(send){
      if(sv==2){
        return true;
      }else{
        if(sv==3 || sv==5){
          return true;
        }else{
          alert('ステータスが「確定」になっていません。資料発送依頼をする場合は、ステータスを「確定」に変更してください。');
          return false;
        }
      }
    }
    return true;
    
  }
{/literal}
//-->
</script>
<style>
{literal}
ul.sdocs{
  margin-left:0px;
  padding-left:0px;
}
ul.sdocs li{
  float:left;
  width:500px;
  list-style-type:none;
}
{/literal}

</style>
</head>

<body bgcolor="#FFFFFF"{if @$popmsg} onLoad="alert('{$popmsg|escape}');"{/if}>
<h2>日本損害保険協会・講師派遣 管理画面</h2>
<h3>講師派遣（詳細）</h3>
<div class="maincontents">
<a href="/manage/forms/index.php/module/FormManage/action/InstList?y={if @$year}{$year|escape}{/if}&amp;br={if @$nbranch}{$nbranch|escape}{/if}&amp;st={if @$nstatus}{$nstatus|escape}{/if}&amp;ts={if @$ntaisyou}{$ntaisyou|escape}{/if}">戻る</a>
<hr>
<form action="/manage/forms/index.php/module/FormManage/action/InstCopy">
<input type="hidden" name="id" value="{if @$data.id}{$data.id|escape}{/if}">
<input type="hidden" name="y" value="{if @$year}{$year|escape}{/if}">
<input type="hidden" name="br" value="{if @$nbranch}{$nbranch|escape}{/if}">
<input type="hidden" name="st" value="{if @$nstatus}{$nstatus|escape}{/if}">
<input type="hidden" name="ts" value="{if @$ntaisyou}{$ntaisyou|escape}{/if}">
<div style="text-align:right;padding-right:10%;"><input type="submit" value="コピー"></div>
</form>
{if $errors}{foreach from=$errors item="datum"}<span style="color:red;">{$datum|escape}</span><br>{/foreach}{/if}
申込み内容
<table cellspacing="1" class="azlist" width="90%">
<tr>
<th>受付番号</th>
<td width="75%">{$data.inst_id|escape}</td>
</tr>
<tr>
<th>受付日時</th>
<td width="75%">{$data.date_regist|date_format:"%Y-%m-%d %H:%M"}</td>
</tr>
<tr>
<th>主催者名</th>
<td>{$data.host|escape}</td>
</tr>
<tr>
<th>所在地（郵便番号）</th>
<td>{$data.post1|escape}-{$data.post2|escape}</td>
</tr>
<tr>
<th>所在地（都道府県）</th>
<td>{if @$prefs[$data.prefecture]}{$prefs[$data.prefecture]|escape}{/if}</td>
</tr>
<tr>
<th>所在地（市町村以下）</th>
<td>{$data.address|escape}</td>
</tr>
<tr>
<th>ご担当者名</th>
<td>{$data.person_last|escape}　{$data.person_first|escape}</td>
</tr>
<tr>
<th>ご担当者名フリガナ</th>
<td>{$data.person_kana_last|escape}　{$data.person_kana_first|escape}</td>
</tr>
<tr>
<th>ご担当者役職</th>
<td>{$data.yaku|escape}</td>
</tr>
<tr>
<th>電話番号</th>
<td>{$data.tel1|escape}-{$data.tel2|escape}-{$data.tel3|escape}{if $data.naisen}　（内）{$data.naisen|escape}{/if}</td>
</tr>
<tr>
<th>FAX番号</th>
<td>{$data.fax1|escape}-{$data.fax2|escape}-{$data.fax3|escape}</td>
</tr>
<tr>
<th>メールアドレス</th>
<td>{$data.email1|escape}</td>
</tr>

<tr>
<td colspan="2"><hr></td>
</tr>

<tr>
<th>希望開催日時(第1希望)</th>
<td>{$data.year_1|escape}年{$data.month_1|escape}月{$data.day_1|escape}日({$data.wTx01|escape}){$data.hour_from_1|escape}:{$data.min_from_1|escape}〜{$data.hour_to_1|escape}:{$data.min_to_1|escape}</td>
</tr>
<tr>
<th>希望開催日時(第2希望)</th>
<td>{if $data.year_2}{$data.year_2|escape}年{$data.month_2|escape}月{$data.day_2|escape}日({$data.wTx02|escape}){$data.hour_from_2|escape}:{$data.min_from_2|escape}〜{$data.hour_to_2|escape}:{$data.min_to_2|escape}{/if}</td>
</tr>
<tr>
<th>会場所在地（会場名）</th>
<td>{$data.lecture_hall|escape}</td>
</tr>
<tr>
<th>会場所在地（郵便番号）</th>
<td>{$data.lecture_zip1|escape}-{$data.lecture_zip2|escape}</td>
</tr>
<tr>
<th>会場所在地（都道府県）</th>
<td>{if @$prefs[$data.lecture_prefecture]}{$prefs[$data.lecture_prefecture]|escape}{/if}</td>
</tr>
<tr>
<th>会場所在地（市町村以下）</th>
<td>{$data.lecture_address|escape}</td>
</tr>
<tr>
<th>会場電話番号</th>
<td>{$data.lecture_tel1|escape}-{$data.lecture_tel2|escape}-{$data.lecture_tel3|escape}</td>
</tr>
<tr>
<th>対象</th>
<td>{if @$taisyou[$data.object_select]}{$taisyou[$data.object_select]}{$data.object_text|escape}{/if}</td>
</tr>
<tr>
<th>受講予定人数</th>
<td>{$data.object_num|escape}</td>
</tr>
<tr>
<th>講演テーマ</th>
<td>{if @$theme[$data.themes]}{$theme[$data.themes]|escape}{/if}{if @$data.theme_text}<br>{$data.theme_text|escape|nl2br}{/if}</td>
</tr>
<tr>
<th>ビデオ</th>
<td>{if $data.video=="1"}あり{else}なし{/if}</td>
</tr>
<tr>
<th>配付希望資料（必要部数）</th>
<td>{$data.copy|escape}部</td>
</tr>
<tr>
<th>配付希望資料（資料送付先）</th>
<td>{if $data.receiver_address=="host"}主催者{/if}{if $data.receiver_address=="venue"}会場{/if}{if $data.receiver_address=="other"}その他　（{$data.receiver_text|escape}）{/if}</td>
</tr>
<tr>
<th>パソコンおよびプロジェクターの使用</th>
<td>{if $data.use_pcprj=="1"}使用可能{/if}{if $data.use_pcprj=="2"}使用不可能{/if}</td>
</tr>
<tr>
<th>本制度・動画教材のご利用経験</th>
<td>{if $data.exp=="1"}前回は{$data.use_year|escape}年 {$data.use_month}月 頃{else}なし{/if}</td>
</tr>
<tr>
<th>その他連絡事項</th>
<td>{$data.connection|escape|nl2br}</td>
</tr>
</table>

<br>
<form action="{$script_path|escape}/module/FormManage/action/InstRegist" method="POST" name="frm1">
確定内容
<table cellspacing="1" class="azlist" width="90%">

<tr>
<th>講演日</th>
<td width="75%">
<select name="year_3">
<option value=""></option>
{foreach from=$years item="datum"}<option value="{$datum|escape}"{if $data.year_3}{if $datum==$data.year_3} selected{/if}{else}{if $datum==$data.year_1} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select> 年 
<select name="month_3">
<option value=""></option>
{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $data.month_3}{if $datum==$data.month_3} selected{/if}{else}{if $datum==$data.month_1} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select> 月 
<select name="day_3">
<option value=""></option>
{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $data.day_3}{if $datum==$data.day_3} selected{/if}{else}{if $datum==$data.day_1} selected{/if}{/if}>{$datum|escape}</option>
{/foreach}
</select> 日
</td>
</tr>
<tr>
<th>派遣先</th>
<td>
　対象 <select name="taisyou">
<option value=""></option>
{foreach from=$taisyou key="dkey" item="datum"}<option value="{$dkey|escape}"{if $dkey==$data.taisyou} selected{/if}>{$datum|escape}</option>
{/foreach}</select><br>
紹介先 <input type="text" name="syoukai" size="40" value="{$data.syoukai|escape}"><br>
主催者名 <input type="text" name="host2" size="40" value="{if $data.host2}{$data.host2|escape}{else}{$data.host|escape}{/if}">
</td>
</tr>
<tr>
<th>講演テーマ</th>
<td><input type="text" name="theme2" value="{if @$data.theme2}{$data.theme2|escape}{else}{if @$theme[$data.themes]}{$theme[$data.themes]|escape}{/if}{/if}" size="40"></td>
</tr>
<tr>
<th>派遣講師</th>
<td>
　分類 <select name="inst_type">
<option value=""></option>
{foreach from=$inst_type key="dkey" item="datum"}{if $dkey==$data.inst_type || $dkey<>2}<option value="{$dkey|escape}"{if $dkey==$data.inst_type} selected{/if}>{$datum|escape}</option>{/if}
{/foreach}</select><br>
講師名 <input type="text" name="inst_name" size="40" value="{$data.inst_name|escape}">
</td>
</tr>
<tr>
<th>担当部署</th>
<td>
<select name="branch">
<option value=""></option>
{if $data.branch}
{foreach from=$branch key="dkey" item="datum"}{if ($dkey<>3 && $dkey<>5 && $dkey<>14) || $dkey==$data.branch}<option value="{$dkey|escape}"{if $dkey==$data.branch} selected{/if}>{$datum|escape}</option>
{/if}{/foreach}</select>
{else}
{foreach from=$branch key="dkey" item="datum"}{if $dkey<>3 && $dkey<>5 && $dkey<>14}<option value="{$dkey|escape}"{if $dkey==$branch_no[$data.lecture_prefecture]} selected{/if}>{$datum|escape}</option>
{/if}{/foreach}</select>
{/if}
</td>
</tr>
<tr>
<th>聴講者数</th>
<td><input type="text" name="inst_num" value="{if $data.inst_num}{$data.inst_num|escape}{else}{$data.object_num|escape}{/if}" size="10">人</td>
</tr>

<tr>
<th>資料送付先</th>
<td>
住所自動入力<select name="addresslist">
<option>▼選択しない</option>
{foreach from=$branch_name item="datum" key="dkey"}{if $dkey<>3 && $dkey<>5}<option value="{$dkey}">{$datum|escape}支部</option>{/if}{/foreach}
</select><input type="button" value="設定する" onClick="setBranchAddress()">（※支部へ送付する場合）<br>
<br>

{if !$data.saddress && !$data.sname}
{if $data.receiver_address=="host" || $data.receiver_address=="venue"}
{if $data.receiver_address=="host"}
<table cellpadding="1" cellspacing="0" border="0">
<tr>
<td>郵便番号</td><td><input type="text" name="szip1" value="{$data.post1|escape}" size="10">-<input type="text" name="szip2" value="{$data.post2|escape}" size="10"></td>
</tr>
<tr>
<td>住所</td><td><select name="spref">
<option value="">選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.prefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
</select><br><input type="text" name="saddress" value="{$data.address|escape}" size="60"></td>
</tr>
<tr>
<td>あて先</td><td><input type="text" name="sname" value="{$data.host|escape}" size="60"></td>
</tr>
<tr>
<td>ご担当者名</td><td><input type="text" name="t_tantou" value="{if $data.t_tantou}{$data.t_tantou|escape}{else}{$data.person_last|escape}{$data.person_first|escape}{/if}" size="30"></td>
</tr>
<tr>
<td>電話番号</td><td><input type="text" name="stel1" value="{$data.tel1|escape}" size="8">-<input type="text" name="stel2" value="{$data.tel2|escape}" size="8">-<input type="text" name="stel3" value="{$data.tel3|escape}" size="8"></td>
</tr>
<tr>
<td>摘要</td>
<td><textarea name="stekiyou" cols="35" rows="3"></textarea></td>
</tr>
</table>
{/if}
{if $data.receiver_address=="venue"}
<table cellpadding="1" cellspacing="0" border="0">
<tr>
<td>郵便番号</td><td><input type="text" name="szip1" value="{$data.lecture_zip1|escape}" size="10">-<input type="text" name="szip2" value="{$data.lecture_zip2|escape}" size="10"></td>
</tr>
<tr>
<td>住所</td><td><select name="spref">
<option value="">選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.lecture_prefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
</select><br><input type="text" name="saddress" value="{$data.lecture_address|escape}" size="60"></td>
</tr>
<tr>
<td>あて先</td><td><input type="text" name="sname" value="{$data.lecture_hall|escape}" size="60"></td>
</tr>
<tr>
<td>ご担当者名</td><td><input type="text" name="t_tantou" value="{if $data.t_tantou}{$data.t_tantou|escape}{/if}" size="30"></td>
</tr>
<tr>
<td>電話番号</td><td><input type="text" name="stel1" value="{$data.lecture_tel1|escape}" size="8">-<input type="text" name="stel2" value="{$data.lecture_tel2|escape}" size="8">-<input type="text" name="stel3" value="{$data.lecture_tel3|escape}" size="8"></td>
</tr>
<tr>
<td>摘要</td>
<td><textarea name="stekiyou" cols="35" rows="3"></textarea></td>
</tr>
</table>
{/if}
{else}
<table cellpadding="1" cellspacing="0" border="0">
<tr>
<td>郵便番号</td><td><input type="text" name="szip1" value="{$data.szip1|escape}" size="10">-<input type="text" name="szip2" value="{$data.szip2|escape}" size="10"></td>
</tr>
<tr>
<td>住所</td><td><select name="spref">
<option value="">選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.spref} selected{/if}>{$datum|escape}</option>
{/foreach}
</select><br><input type="text" name="saddress" value="{$data.saddress|escape}" size="60"></td>
</tr>
<tr>
<td>あて先</td><td><input type="text" name="sname" value="{$data.sname|escape}" size="60"></td>
</tr>
<tr>
<td>ご担当者名</td><td><input type="text" name="t_tantou" value="{if $data.t_tantou}{$data.t_tantou|escape}{else}{if $data.receiver_address=="host"}{$data.person_last|escape}{$data.person_first|escape}{/if}{/if}" size="30"></td>
</tr>
<tr>
<td>電話番号</td><td><input type="text" name="stel1" value="{$data.stel1|escape}" size="8">-<input type="text" name="stel2" value="{$data.stel2|escape}" size="8">-<input type="text" name="stel3" value="{$data.stel3|escape}" size="8"></td>
</tr>
<tr>
<td>摘要</td>
<td><textarea name="stekiyou" cols="35" rows="3">{$data.stekiyou|escape}</textarea></td>
</tr>
</table>
{/if}
{else}

<table cellpadding="1" cellspacing="0" border="0">
<tr>
<td>郵便番号</td><td><input type="text" name="szip1" value="{$data.szip1|escape}" size="10">-<input type="text" name="szip2" value="{$data.szip2|escape}" size="10"></td>
</tr>
<tr>
<td>住所</td><td><select name="spref">
<option value="">選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.spref} selected{/if}>{$datum|escape}</option>
{/foreach}
</select><br><input type="text" name="saddress" value="{$data.saddress|escape}" size="60"></td>
</tr>
<tr>
<td>あて先</td><td><input type="text" name="sname" value="{$data.sname|escape}" size="60"></td>
</tr>
<tr>
<td>ご担当者名</td><td><input type="text" name="t_tantou" value="{if $data.t_tantou}{$data.t_tantou|escape}{/if}" size="30"></td>
</tr>
<tr>
<td>電話番号</td><td><input type="text" name="stel1" value="{$data.stel1|escape}" size="8">-<input type="text" name="stel2" value="{$data.stel2|escape}" size="8">-<input type="text" name="stel3" value="{$data.stel3|escape}" size="8"></td>
</tr>
<tr>
<td>摘要</td>
<td><textarea name="stekiyou" cols="35" rows="3">{$data.stekiyou|escape}</textarea></td>
</tr>
</table>
{/if}

</td>
</tr>

<tr>
<th>配付資料</th>
<td>
  <table cellpadding="1" cellspacing="0" border="0">
<!--  <tr>
  <td colspan="2">
{if $doclist}
<ul class="sdocs">
{foreach from=$doclist item="datum"}
{if $datum.visible}<li><input type="checkbox" name="sdoc[]" value="{$datum.id|escape}"{if $data.sdocs}{foreach from=$data.sdocs item="datum2"}{if $datum2==$datum.id} checked{/if}{/foreach}{/if}>{$datum.name|escape}</li>
{else}{if $data.sdocs}{foreach from=$data.sdocs item="datum2"}{if $datum2==$datum.id}<li><span style="color:#555555;">・{$datum.name|escape}</span></li>
{/if}{/foreach}{/if}{/if}
{/foreach}
</ul>
<br clear="all">
{/if}

{foreach from=$shiryou key="dkey" item="datum"}{if $dkey==$data.shiryou}{$datum|escape}{/if}{/foreach}
  </td>
  </tr>
  <tr>
  <td>配付資料部数</td><td><input type="text" name="shiryou_num" value="{$data.shiryou_num|escape}" size="10"> 部</td>
  </tr>
-->

<tr>
  <td colspan="2">
{if $doclist && $data.sdocs}
<ul class="sdocs">
{foreach from=$doclist item="datum"}
{if $datum.visible}<li>{if $data.sdocs}{foreach from=$data.sdocs item="datum2"}{if $datum2==$datum.id}{$datum.name|escape}<input type="hidden" name="sdoc[]" value={$datum.id|escape}>{/if}{/foreach}{/if}</li>
{else}{if $data.sdocs}{foreach from=$data.sdocs item="datum2"}{if $datum2==$datum.id}<li><span style="color:#555555;">・{$datum.name|escape}<input type="hidden" name="sdoc[]" value={$datum.id|escape}></span></li>
{/if}{/foreach}{/if}{/if}
{/foreach}
</ul>
<br clear="all">
{/if}

{if $shiryou}
{foreach from=$shiryou key="dkey" item="datum"}{if $dkey==$data.shiryou}{$datum|escape}{/if}{/foreach}
{/if}
  </td>
  </tr>
{if $data.shiryou_num}
  <tr>
  <td>配付資料部数</td><td>{$data.shiryou_num|escape} 部</td>
  </tr>
{/if}

  <tr>
  <td colspan="2">
{if $books}
<table width="100%">
{foreach from=$books item="datum"}
<tr>
<td>{$datum.name|escape}{if $datum.warn_stock==2} <div style="display:inline;float:right;color:red;">在庫無し</div>{/if}{if $datum.warn_stock==1} <div style="display:inline;float:right;color:red;">残部少</div>{/if}</td><td><input type="text" name="order_{$datum.id|escape}" size="4" value="{$datum.count|escape}">部</td>
</tr>
{/foreach}
</table>
{/if}
  </td>
  </tr>

  <tr>
  <td>その他</td><td><textarea name="shiryou_other" cols="30" rows="2">{$data.shiryou_other|escape}</textarea></td> 
  </tr>
  <tr>
  <td>「その他の資料」手配担当</td><td><input type="radio" name="stantou" value="1"{if $data.stantou==1} checked{/if}>本部　<input type="radio" name="stantou" value="2"{if $data.stantou==2} checked{/if}>担当支部　<input type="radio" name="stantou" value="0"{if !$data.stantou} checked{/if}>なし<br>
  </td>
  </tr>

  <tr>
  <td>資料到着希望日</td>
  <td><select name="syear">
<option value=""></option>
{foreach from=$years item="datum"}<option value="{$datum|escape}"{if $datum==$data.syear} selected{/if}>{$datum|escape}</option>
{/foreach}
</select> 年 
<select name="smonth">
<option value=""></option>
{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $datum==$data.smonth} selected{/if}>{$datum|escape}</option>
{/foreach}
</select> 月 
<select name="sday">
<option value=""></option>
{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $datum==$data.sday} selected{/if}>{$datum|escape}</option>
{/foreach}
</select> 日<br>
  </td>
  </tr>

  <tr>
  <td>発送登録</td>
  <td><input type="radio" name="sregist" value="1"{if $data.sregist==1} checked{/if}>する　<input type="radio" name="sregist" value="2"{if $data.sregist==2 || !$data.sregist} checked{/if}>しない</td>
  </tr>
  <tr>
  <td>発送状況（旧）</td>
  <td>
{if $data.is_new==0}
{if $data.sregist==1}
{if $data.sdocs}
  {if $data.t_status==1}
    {if $data.t_status2==1}発送済み
    {else}発送承認済み
    {/if}
  {else}
    {if $data.t_status==0}発送承認待ち
    {/if}
  {/if}
{/if}
{/if}
{/if}&nbsp;</td>
  </tr>
  <tr>
  <td>発送状況</td>
  <td>
{if $data.sregist==1}
  {if $data.approve==1}<span style="color:red;">
    {if $data.trans_status==1}対応中
    {elseif $data.trans_status==2}発送済み
    {else}承認済み
    {/if}</span>
  {else}{if $data.approve<>99}承認待ち{/if}
  {/if}
{/if}&nbsp;</td>
  </tr>

  </table>

</td>
</tr>
<tr>
<th>聴講状態</th>
<td>
<select name="inst_condition">
<option value=""></option>
{foreach from=$inst_condition key="dkey" item="datum"}<option value="{$dkey|escape}"{if $dkey==$data.inst_condition} selected{/if}>{$datum|escape}</option>
{/foreach}</select>
</td>
</tr>
<tr>
<th>講演時間</th>
<td>
<select name="inst_hour">
{foreach from=$hours item="datum"}<option value="{$datum|escape}"{if $datum==$data.inst_hour} selected{/if}>{$datum|escape}</option>
{/foreach}</select>時間 
<select name="inst_min">
{foreach from=$mins item="datum"}<option value="{$datum|escape}"{if $datum==$data.inst_min} selected{/if}>{$datum|escape}</option>
{/foreach}</select>分 
</td>
</tr>
<tr>
<th>備考</th>
<td>
<textarea name="bikou" cols="30" rows="3">{$data.bikou|escape}</textarea>
</td>
</tr>
<tr>
<th>ステータス</th>
<td><select name="status">
{foreach from=$status key="dkey" item="datum"}<option value="{$dkey}"{if $dkey==$data.status} selected{/if}>{$datum|escape}
{/foreach}
</select></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" value="　更新　" onClick="return checkStatus();"><input type="hidden" name="mode" value="preview"></td>
</tr>
</table>
<input type="hidden" name="y" value="{if @$year}{$year|escape}{/if}">
<input type="hidden" name="br" value="{if @$nbranch}{$nbranch|escape}{/if}">
<input type="hidden" name="st" value="{if @$nstatus}{$nstatus|escape}{/if}">
<input type="hidden" name="ts" value="{if @$ntaisyou}{$ntaisyou|escape}{/if}">
</form>
<a href="/manage/forms/index.php/module/FormManage/action/InstList?y={if @$year}{$year|escape}{/if}&amp;br={if @$nbranch}{$nbranch|escape}{/if}&amp;st={if @$nstatus}{$nstatus|escape}{/if}&amp;ts={if @$ntaisyou}{$ntaisyou|escape}{/if}">戻る</a>
</div>
</body>
</html>
