<html>
<head>
<title>日本損害保険協会・刊行物 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">

<link rel="stylesheet" type="text/css" href="/archive/css/import.css">
<link rel="stylesheet" type="text/css" href="/common/css/fmedium.css" title="medium">
<link rel="stylesheet" type="text/css" href="/common/css/flarge.css" title="large">
<link rel="stylesheet" type="text/css" href="/common/css/fexlarge.css" title="exlarge">
<script type="text/javascript" src="/common/js/check.js"></script>
<script type="text/javascript" src="/common/js/fontsize.js"></script>
<script type="text/javascript" src="/common/js/share.js"></script>

<script type="text/javascript" src="/manage/cm.js"></script>
<script>
  var toscroll='{$data.toscroll|escape}';

{literal}
  function setPosition(){
    if(toscroll){
      obj = document.getElementById(toscroll);
      y = obj.offsetTop;
      scrollTo(0,y);
      document.frm1.toscroll.value='';
    }
  }

  function changeSendinfo(){
    var send_type=document.frm1.send_type;
    
    for (var i=0;i<send_type.length;i++){
      if(send_type[i].checked && send_type[i].value=='0'){
        document.getElementById("sendinfo").style.display="none";
      }
      if(send_type[i].checked && send_type[i].value=='1'){
        document.getElementById("sendinfo").style.display="";
      }
    }

  }
{/literal}
</script>
<script type="text/javascript" src="/archive/publish/js/check2.js"></script>
</head>

<body id="archive-form" onLoad="setPosition();changeSendinfo();">
<a name="top"></a>
<div id="wrapper">
	<div id="inbox">

<form action="/manage/forms/index.php/module/FormManage/action/PubMakeOrder" method="POST" name="frm1" onSubmit="return pre_check();">
<input type="hidden" name="toscroll">
		<!-- メインエリア -->
		<div id="main">
			<!-- コンテンツエリア -->
			<div id="content">
				<!-- content title -->
				<h2 class="lineCFhead"><span class="text2">刊行物申込</span></h2>

				<div class="contentBlock">
					<img src="/archive/publish/img/step_02.gif" width="670" height="33" border="0" alt="お届け先情報の入力">
				</div>

					<div class="subt1">
						<div class="frm">
							<p class="text2">お届け先情報の入力</p>
						</div>
					</div>

{if $errors}
					<div class="contentBlock" style="border:#aaaaaa solid 1px;background:#ffcccc;">
						<div class="clearfix text2">
							<p><br>
<span style="color:red;font-weight:bold;">{foreach from=$errors item="datum"}　{$datum|escape}<br />{/foreach}</span></p>
						</div>
					</div>
<br clear="all">
{/if}

					<div class="contentBlock1">
						<div class="clearfix text2">※<span class="colorE97">*</span>印は必須項目です。</div>
					</div>

					<div class="subt2">
						<div class="frm">
							<p class="text2">使用目的</p>
						</div>
					</div>

					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td class="gray02" width="25%"><strong>使用目的</strong></td>
									<td><div style="padding-bottom: 5px;">※刊行物の使用目的を記入してください。<br>
									<textarea name="purpose" cols="40" rows="2">{$data.purpose|escape}</textarea>
									</div></td>
								</tr>
							</table>
						</div>
					</div>

<a id="position1"></a>
					<div class="subt2">
						<div class="frm">
							<p class="text2">ご依頼者様情報</p>
						</div>
					</div>

					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td class="gray02" width="25%"><strong>属性<span class="colorE97">*</span></strong></td>
									<td><div style="padding-bottom: 5px;">
									<select name="address_type" onChange="document.frm1.toscroll.value='position1';document.frm1.mode.value='form3';document.frm1.select_address_type.value='1';document.frm1.submit();"><option>▼選択してください
									{foreach from=$address_type key="dkey" item="datum"}<option value="{$dkey|escape}"{if $data.address_type==$dkey} selected{/if}>{$datum.name|escape}{/foreach}
									</select><input type="hidden" name="select_address_type" value="0">
									</div></td>
								</tr>
								<tr>
									<td class="gray02"><strong>住所<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px;">郵便番号<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px 2px 5px 2px;"><input type="text" name="zipcode1" size="3" maxlength="3" value="{$data.zipcode1|escape}">
													−
													<input type="text" name="zipcode2" size="4" maxlength="4" value="{$data.zipcode2|escape}">
													&nbsp;&nbsp;<font class="colorE97">半角数字</font> <br>（例：101-8355） </td>
											</tr>
											<tr>
												<td class="text2" style="border:none; padding:2px;">都道府県<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px 2px 10px 2px;"><select name="prefecture">
														<option value="" selected>選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}												<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.prefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
													</select>
												</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">市区町村以下<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="address" size="45" value="{$data.address|escape}">
													<br>（例：千代田区 神田 淡路町 2-9）</td>
											</tr>
										</table></td>
								</tr>

  {if $data.address_type==1}
								<tr>
									<td class="gray02"><strong>お名前<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0; width: 85px;">漢字<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">姓</td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="name1" size="8" value="{$data.name1|escape}"><br>（例：損保）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">名</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="name2" size="8" value="{$data.name2|escape}"><br>（例：太郎）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">フリガナ</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">セイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="kana1" size="8" value="{$data.kana1|escape}"><br>（例：ソンポ）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">メイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="kana2" size="8" value="{$data.kana2|escape}">&nbsp;&nbsp;<font class="colorE97">全角カナ</font><br>（例：タロウ）</td>
											</tr>
										</table></td>
								</tr>
  {else}
								<tr>
									<td class="gray02"><strong>法人・団体名<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0;">法人・団体名<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;"></td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="company" size="40" value="{$data.company|escape}"><br>（例：日本損害保険協会）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">部署</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;"></td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="section" size="40" value="{$data.section|escape}"><br>（例：生活サービス部）</td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td class="gray02"><strong>ご担当者<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0; width: 85px;">漢字<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">姓</td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="name1" size="8" value="{$data.name1|escape}"><br>（例：損保）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">名</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="name2" size="8" value="{$data.name2|escape}"><br>（例：太郎）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">フリガナ</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">セイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="kana1" size="8" value="{$data.kana1|escape}"><br>（例：ソンポ）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">メイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="kana2" size="8" value="{$data.kana2|escape}">&nbsp;&nbsp;<font class="colorE97">全角カナ</font><br>（例：タロウ）</td>
											</tr>
										</table></td>
								</tr>
  {/if}

								<tr>
									<td class="gray02"><strong>メールアドレス<span class="colorE97">*</span></strong></td>
									<td><div style="padding-bottom: 5px;"><input type="text" name="email" size="50" value="{$data.email|escape}">&nbsp;&nbsp;<font class="colorE97">半角英数字</font><br>（例：webmaster@sonpo.or.jp）</div>
										<div>確認のため再度入力してください。<br><input type="text" name="email2" size="50" value="{$data.email2|escape}">&nbsp;&nbsp;<font class="colorE97">半角英数字</font></div></td>
								</tr>

								<tr>
									<td class="gray02"><strong>電話番号<span class="colorE97">*</span></strong></td>
									<td><input type="text" name="tel1" size="6" value="{$data.tel1|escape}">
										−
										<input type="text" name="tel2" size="6" value="{$data.tel2|escape}">
										−
										<input type="text" name="tel3" size="6" value="{$data.tel3|escape}">
										&nbsp;&nbsp;<font class="colorE97">半角数字</font><br>（例：03 - 3255 - 1215）</td>
								</tr>
								<tr>
									<td class="gray02"><strong>資料送付先<span class="colorE97">*</span></strong></td>
									<td>
									<input type="radio" name="send_type" value="0"{if $data.send_type==0} checked{/if} id="send_type_0" onClick="changeSendinfo();"><label for="send_type_0">ご依頼者様住所に同じ</label><br>
									<input type="radio" name="send_type" value="1"{if $data.send_type==1} checked{/if} id="send_type_1" onClick="changeSendinfo();"><label for="send_type_1">ご依頼者様住所と異なる</label>（「資料送付先情報」が表示されますので入力してください。）<br>
									</td>
								</tr>
							</table>
						</div>
					</div>

<div id="sendinfo">
<a id="position2"></a>
					<div class="subt2">
						<div class="frm">
							<p class="text2">資料送付先情報</p>
						</div>
					</div>

					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td class="gray02" width="25%"><strong>属性<span class="colorE97">*</span></strong></td>
									<td><div style="padding-bottom: 5px;">
									<select name="saddress_type" onChange="document.frm1.toscroll.value='position2';document.frm1.mode.value='form3';document.frm1.select_saddress_type.value='1';document.frm1.submit();"><option>▼選択してください
									{foreach from=$address_type key="dkey" item="datum"}<option value="{$dkey|escape}"{if $data.saddress_type==$dkey} selected{/if}>{$datum.name|escape}{/foreach}
									</select><input type="hidden" name="select_saddress_type" value="0">
									</div></td>
								</tr>
								<tr>
									<td class="gray02"><strong>住所<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px;">郵便番号<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px 2px 5px 2px;"><input type="text" name="szipcode1" size="3" maxlength="3" value="{$data.szipcode1|escape}">
													−
													<input type="text" name="szipcode2" size="4" maxlength="4" value="{$data.szipcode2|escape}">
													&nbsp;&nbsp;<font class="colorE97">半角数字</font> <br>（例：101-8355） </td>
											</tr>
											<tr>
												<td class="text2" style="border:none; padding:2px;">都道府県<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px 2px 10px 2px;"><select name="sprefecture">
														<option value="" selected>選択してください。</option>
{foreach from=$prefs item="datum" name="loop_pref"}												<option value="{$smarty.foreach.loop_pref.iteration}"{if $smarty.foreach.loop_pref.iteration==$data.sprefecture} selected{/if}>{$datum|escape}</option>
{/foreach}
													</select>
												</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">市区町村以下<font class="colorE97">*</font></td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="saddress" size="45" value="{$data.saddress|escape}">
													<br>（例：千代田区 神田 淡路町 2-9）</td>
											</tr>
										</table></td>
								</tr>

  {if $data.saddress_type==1}
								<tr>
									<td class="gray02"><strong>お名前<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0; width: 85px;">漢字<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">姓</td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="sname1" size="8" value="{$data.sname1|escape}"><br>（例：損保）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">名</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="sname2" size="8" value="{$data.sname2|escape}"><br>（例：太郎）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">フリガナ</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">セイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="skana1" size="8" value="{$data.skana1|escape}"><br>（例：ソンポ）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">メイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="skana2" size="8" value="{$data.skana2|escape}">&nbsp;&nbsp;<font class="colorE97">全角カナ</font><br>（例：タロウ）</td>
											</tr>
										</table></td>
								</tr>
  {else}

								<tr>
									<td class="gray02"><strong>法人・団体名<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0;">法人・団体名<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;"></td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="scompany" size="40" value="{$data.scompany|escape}"><br>（例：日本損害保険協会）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">部署</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;"></td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="ssection" size="40" value="{$data.ssection|escape}"><br>（例：生活サービス部）</td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td class="gray02"><strong>ご担当者<span class="colorE97">*</span></strong></td>
									<td><table border="0" cellspacing="0" cellpadding="2">
											<tr>
												<td valign="top" class="text2" style="border:none; padding:2px 0 2px 0; width: 85px;">漢字<font class="colorE97">*</font></td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">姓</td>
												<td valign="top" class="text2" style="border:none; padding:2px;"><input type="text" name="sname1" size="8" value="{$data.sname1|escape}"><br>（例：損保）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">名</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="sname2" size="8" value="{$data.sname2|escape}"><br>（例：太郎）</td>
											</tr>
											<tr>
												<td nowrap valign="top" class="text2" style="border:none; padding:2px;">フリガナ</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">セイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="skana1" size="8" value="{$data.skana1|escape}"><br>（例：ソンポ）</td>
												<td valign="top" class="text2" style="border:none; padding:2px; text-align: right;">メイ</td>
												<td class="text2" style="border:none; padding:2px;"><input type="text" name="skana2" size="8" value="{$data.skana2|escape}">&nbsp;&nbsp;<font class="colorE97">全角カナ</font><br>（例：タロウ）</td>
											</tr>
										</table></td>
								</tr>
  {/if}
<!--
								<tr>
									<td class="gray02"><strong>メールアドレス<span class="colorE97">*</span></strong></td>
									<td><div style="padding-bottom: 5px;"><input type="text" name="semail" size="50" value="{$data.semail|escape}">&nbsp;&nbsp;<font class="colorE97">半角英数字</font><br>（例：webmaster@sonpo.or.jp）</div>
										<div>確認のため再度入力してください。<br><input type="text" name="semail2" size="50" value="{$data.semail2|escape}">&nbsp;&nbsp;<font class="colorE97">半角英数字</font></div></td>
								</tr>
-->
								<tr>
									<td class="gray02"><strong>電話番号<span class="colorE97">*</span></strong></td>
									<td><input type="text" name="stel1" size="6" value="{$data.stel1|escape}">
										−
										<input type="text" name="stel2" size="6" value="{$data.stel2|escape}">
										−
										<input type="text" name="stel3" size="6" value="{$data.stel3|escape}">
										&nbsp;&nbsp;<font class="colorE97">半角数字</font><br>（例：03 - 3255 - 1215）</td>
								</tr>
							</table>
						</div>
					</div>
</div><!--/sendinfo-->

					<div class="subt2">
						<div class="frm">
							<p class="text2">到着希望日</p>
						</div>
					</div>

					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td class="gray02" width="25%"><strong>到着希望日</strong></td>
									<td><div style="padding-bottom: 5px;">
<select name="req_year"><option value="">▼{foreach from=$years item="datum"}<option value="{$datum|escape}"{if $datum==$data.req_year} selected{/if}>{$datum|escape}{/foreach}</select>年 
<select name="req_month"><option value="">▼{foreach from=$months item="datum"}<option value="{$datum|escape}"{if $datum==$data.req_month} selected{/if}>{$datum|escape}{/foreach}</select>月 
<select name="req_day"><option value="">▼{foreach from=$days item="datum"}<option value="{$datum|escape}"{if $datum==$data.req_day} selected{/if}>{$datum|escape}{/foreach}</select>日 
									</div></td>
								</tr>
								<tr>
									<td class="gray02"><strong>到着希望日摘要</strong></td>
									<td><div style="padding-bottom: 5px;">
									<textarea name="req_text" cols="40" rows="2">{$data.req_text|escape}</textarea>
									</div></td>
								</tr>
							</table>
						</div>
					</div>

					<div class="contentBlock1">
						<div class="clearfix">
							<table width="100%" border="0" cellspacing="0" cellpadding="0" class="archive_list text2">
								<tr>
									<td class="gray02" width="25%"><strong>備考</strong></td>
									<td><div style="padding-bottom: 5px;">
									<textarea name="bikou" cols="40" rows="2">{$data.bikou|escape}</textarea>
									</div></td>
								</tr>
							</table>
						</div>
					</div>


					<div class="contentBlock1">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td>						<div class="clearfix text2 btn">
							<input type="button" class="btnback" value="&nbsp;&nbsp;戻る&nbsp;&nbsp;" onClick="document.frm2.submit();"></div></td>
<td>							&nbsp;&nbsp;</td>
<td>						<div class="clearfix text2 btn"><input type="hidden" name="mode" value="preview">
							<input type="submit" value="&nbsp;&nbsp;申し込み内容を確認する&nbsp;&nbsp;">
						</div></td>
</tr>
</table>
					</div>
</form>

<form method="POST" action="/manage/forms/index.php/module/FormManage/action/PubMakeOrder" name="frm2">
<input type="hidden" name="mode" value="form">
</form>

				<!-- //送付先-->
				<!-- colorCFライン-->
				<div class="lineCF"></div>
				<!-- //colorCFライン-->

			</div>

			<!-- //コンテンツエリア -->
		</div>
		<!-- //メインエリア -->

	</div>
</div>
</body>
</html>