<html>
<head>
<title>日本損害保険協会・WEB相談 管理画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<link rel=STYLESHEET href="/css/manage.css" type="text/css">
</head>

<body bgcolor="#FFFFFF">
<h2>日本損害保険協会・WEB相談 管理画面</h2>
<h3>管理者一覧</h3>
<div class="maincontents">

<hr>
{if $data}
<table cellspacing="1" class="azlist" width="300">
<tr>
<th>アカウント</th>
<th>全体管理者</th>
</tr>

{foreach from=$data item="datum"}
<tr>
<td align="center"><a href="{$script_path|escape}/module/ContactManage/action/SetIDPW?id={$datum.id|escape}">{$datum.account|escape}</a></td>
<td align="center">{if $datum.is_master}○{else}&nbsp;{/if}</td>
</tr>
{/foreach}
</table>
{/if}
<hr>
<a href="{$script_path|escape}/module/ContactManage/">戻る</a>
</div>
</body>
</html>
