.text1{font-size:65%;line-height:140%;font-family:Hiragino Kaku Gothic Pro W3,sans-serif;}
.text2{font-size:75%;line-height:140%;font-family:Hiragino Kaku Gothic Pro W3,sans-serif;}
.text3{font-size:90%;line-height:140%;font-family:Hiragino Kaku Gothic Pro W3,sans-serif;}
.text4{font-size:110%;line-height:140%;font-family:Hiragino Kaku Gothic Pro W3,sans-serif;}

.texts{font-size:86.7%;}
.textl{font-size:120%;}
